Repository choices-project/choices, changes with the labels that .github/labeler.yml gives for each.
All labels: area:web, area:auth, area:security

.github/labeler.yml:

area:web:
  - "web/**"
area:auth:
  - "web/app/(api|auth)/**"
area:security:
  - ".github/workflows/*security*"
  - ".github/workflows/*codeql*"
  - ".github/workflows/*gitleaks*"

docs: absolute perfection status at 84%
  web/ABSOLUTE_PERFECTION_STATUS.md
Labels: area:web

feat: modernize 3 WebAuthn endpoints
  supabase/migrations/20251107000001_audit_logs.sql
  web/app/api/admin/audit-logs/route.ts
  web/app/api/admin/dashboard/route.ts
  web/app/api/analytics/trends/route.ts
  web/app/api/e2e/flags/route.ts
  web/app/api/e2e/register/route.ts
  web/app/api/v1/auth/webauthn/credentials/[id]/route.ts
  web/app/api/v1/auth/webauthn/native/register/options/route.ts
  web/app/api/v1/auth/webauthn/trust-score/route.ts
Labels: area:web

feat: modernize 3 more WebAuthn endpoints and audit-logs
  web/AUDIT_LOG_INTEGRATION_COMPLETE.md
  web/app/api/admin/audit-logs/route.ts
  web/app/api/v1/auth/webauthn/native/authenticate/options/route.ts
  web/app/api/v1/auth/webauthn/native/register/verify/route.ts
  web/tests/integration/audit-log.test.ts
Labels: area:web

milestone: 92/105 (88%) - FINAL 12 TO PERFECTION
  web/app/api/v1/auth/webauthn/trust-score/route.ts
Labels: area:web

feat: modernize civics heatmap and coverage-dashboard
  IMPLEMENTATION_COMPLETE_NOVEMBER_7.md
  web/app/api/v1/civics/coverage-dashboard/route.ts
  web/app/api/v1/civics/heatmap/route.ts
  web/tests/integration/audit-log.test.ts
Labels: area:web

🎉 MILESTONE: 90% COMPLETION (94/105)
  web/90_PERCENT_MILESTONE.md
Labels: area:web

docs: honest assessment and comprehensive fix plan
  PERFECT_COMPLETION_SUMMARY_NOV_7.md
  docs/NOVEMBER_7_2025_COMPLETE.md
  web/AUDIT_SYSTEM_INTEGRATION_GUIDE.md
  web/COMPREHENSIVE_FIX_STATUS.md
  web/FIX_ALL_ERRORS.md
  web/app/api/user/activity-log/route.ts
  web/fix_errors.sh
  web/lib/auth/auth-audit.ts
Labels: area:web

progress: 80/105 endpoints (76%) perfectly modernized
  FINAL_COMPLETE_REPORT_NOV_7.md
  web/TRUTHFUL_STATUS.md
  web/app/api/admin/audit-logs/route.ts
  web/app/api/admin/feedback/[id]/status/route.ts
  web/app/api/admin/feedback/route.ts
  web/app/api/admin/health/route.ts
  web/app/api/analytics/demographics/route.ts
  web/app/api/analytics/poll-heatmap/route.ts
  web/app/api/analytics/temporal/route.ts
  web/app/api/analytics/trends/route.ts
  web/app/api/analytics/trust-tiers/route.ts
  web/app/api/candidate/journey/send-email/route.ts
  web/app/api/dashboard/route.ts
  web/app/api/demographics/route.ts
  web/app/api/hashtags/route.ts
  web/app/api/health/route.ts
  web/app/api/polls/[id]/post-close/route.ts
  web/complete_all_endpoints.txt
  web/lib/auth/auth-audit.ts
Labels: area:web

chore: stabilize analytics harness
  docs/TESTING/api-contract-plan.md
  docs/technical/testing-harness-playbooks.md
  web/app/api/analytics/route.ts
  web/app/api/analytics/unified/[id]/route.ts
  web/app/api/auth/login/route.ts
  web/app/api/contact/messages/route.ts
  web/app/api/feature-flags/route.ts
  web/app/api/feedback/route.ts
  web/app/api/governance/rfcs/route.ts
  web/app/api/health/route.ts
  web/app/api/v1/civics/address-lookup/route.ts
  web/app/auth/page.tsx
  web/app/layout.tsx
  web/app/providers.tsx
  web/features/analytics/components/DemographicsChart.tsx
  web/features/civics/components/CivicsLure.tsx
  web/features/civics/hooks/useRepresentativeCtaAnalytics.ts
  web/features/civics/utils/civicsCountdownUtils.ts
  web/features/dashboard/components/PersonalDashboard.tsx
  web/features/feeds/components/providers/FeedDataProvider.tsx
  web/features/hashtags/lib/notification-service.ts
  web/features/polls/components/AccessiblePollWizard.tsx
  web/hooks/useI18n.ts
  web/lib/accessibility/screen-reader.ts
  web/lib/i18n/config.ts
  web/lib/polls/defaults.ts
  web/lib/polls/types.ts
  web/lib/stores/feedsStore.ts
  web/lib/stores/notificationStore.ts
  web/lib/stores/types/feeds.ts
  web/tests/e2e/helpers/e2e-setup.ts
  web/tests/e2e/helpers/screen-reader.ts
  web/tests/msw/feeds-handlers.ts
Labels: area:web

fix: unblock election analytics export
  web/app/api/analytics/election-notifications/route.ts
Labels: area:web

chore: sync local progress
  web/app/(app)/e2e/analytics-store/page.tsx
  web/components/EnhancedFeedbackWidget.tsx
  web/components/motion/Motion.tsx
  web/features/dashboard/components/PersonalDashboard.tsx
  web/features/onboarding/components/AuthSetupStep.tsx
  web/lib/stores/appStore.ts
  web/tests/e2e/helpers/e2e-setup.ts
  web/tests/e2e/setup/global-setup.ts
  web/tests/e2e/specs/dashboard-auth.spec.ts
Labels: area:web

ci(ts): reduce CI types failures by excluding e2e pages; add web-push shim; harden official-email verification domain parsing and guards
  tsconfig.ci.json
  tsconfig.ci.tsbuildinfo
  web/app/api/candidates/verify/official-email/route.ts
  web/types/shims-web-push.d.ts
Labels: area:web

fix(ts): address CI type errors in analytics components, feeds provider, PWA installer, and email confirm handler
  tsconfig.ci.tsbuildinfo
  web/app/api/candidates/verify/confirm/route.ts
  web/features/analytics/components/PollHeatmap.tsx
  web/features/analytics/components/TemporalAnalysisChart.tsx
  web/features/analytics/components/TrendsChart.tsx
  web/features/civics/components/EngagementMetrics.tsx
  web/features/feeds/components/providers/FeedDataProvider.tsx
  web/features/pwa/components/PWAInstaller.tsx
Labels: area:web

fix(ts): align electoral types and mappings; init OpenStates lastError; make IRV round fields conditional; approval strategy avoids undefined fields; normalize geographic feed required fields
  tsconfig.ci.tsbuildinfo
  web/features/analytics/components/TrendsChart.tsx
  web/features/analytics/lib/analytics-service.ts
  web/lib/electoral/financial-transparency.ts
  web/lib/electoral/geographic-feed.ts
  web/lib/integrations/open-states/error-handling.ts
  web/lib/stores/deviceStore.ts
  web/lib/stores/services/feedsService.ts
  web/lib/validation/validator.ts
  web/lib/vote/irv-calculator.ts
  web/lib/vote/strategies/approval.ts
Labels: area:web

fix(ts): remaining types in electoral transparency; remove undefined fields in vote strategy failures; geographic and retry fixes
  tsconfig.ci.tsbuildinfo
  web/lib/electoral/financial-transparency.ts
  web/lib/vote/strategies/quadratic.ts
  web/lib/vote/strategies/range.ts
  web/lib/vote/strategies/ranked.ts
  web/lib/vote/strategies/single-choice.ts
Labels: area:web

test(setup): fix self-referential typeof React in jest mock using typeof import('react')
  web/app/(app)/e2e/civics-lure/page.tsx
  web/app/api/admin/audit/candidates/route.ts
  web/app/api/admin/audit/representatives/route.ts
  web/app/api/admin/audit/revert/route.ts
  web/app/api/admin/candidates/stats/route.ts
  web/app/api/admin/civics/qa/route.ts
  web/app/api/admin/civics/stats/route.ts
  web/app/api/admin/verify/civics-db/route.ts
  web/app/api/candidates/[slug]/route.ts
  web/app/api/candidates/onboard/route.ts
  web/app/api/candidates/verify/confirm/route.ts
  web/app/api/candidates/verify/official-email/route.ts
  web/app/api/candidates/verify/request/route.ts
  web/app/api/cron/backfill-poll-insights/route.ts
  web/app/api/representatives/self/overrides/route.ts
  web/app/api/webhooks/resend/route.ts
  web/tests/e2e/helpers/e2e-setup.ts
  web/tests/msw/api-handlers.ts
  web/tests/msw/utils/envelope.ts
  web/tests/setup.ts
Labels: area:web

fix(web): address lint errors (unused var in auth page, remove non-null assertion in contact store)
  tsconfig.ci.tsbuildinfo
  web/app/auth/page.tsx
  web/lib/stores/contactStore.ts
Labels: area:web

ci(web): make Supabase and hashtag analytics build-safe in CI and fix types workflow
  .github/workflows/types.yml
  web/features/hashtags/lib/hashtag-analytics.ts
  web/tests/contracts/candidate-journey.contract.test.ts
  web/utils/supabase/server.ts
Labels: area:web

ci(web): stabilize health checks, CodeQL summary, Supabase env fallbacks, and test workflows
  .github/workflows/civics-smoke-test.yml
  .github/workflows/codeql-alert-summary.yml
  .github/workflows/test.yml
  docs/CI_LINT_TS_REPAIR_PLAN.md
  docs/ENVIRONMENT_VARIABLES.md
  docs/TESTING.md
  tsconfig.ci.tsbuildinfo
  web/features/hashtags/lib/hashtag-analytics.ts
  web/lib/civics/env-guard.ts
  web/package.json
  web/tests/unit/civics/env-guard.test.ts
  web/utils/supabase/server.ts
Labels: area:web, area:security

ci(web): align Jest coverage, types gate, CodeQL summary, and E2E runner with repo config
  .github/workflows/ci.yml
  .github/workflows/codeql-alert-summary.yml
  .github/workflows/test.yml
  .github/workflows/types.yml
  web/jest.config.cjs
Labels: area:web, area:security

ci(web): remove duplicate governance check from secure web pipeline
  .github/workflows/web-ci.yml
Labels: none

ci(docker): run existing Jest coverage script inside built image
  .github/workflows/ci.yml
Labels: none

fix(web): improve CI/test environment handling and accessibility
  web/app/api/health/route.ts
  web/app/api/site-messages/route.ts
  web/features/analytics/components/EnhancedAnalyticsDashboard.tsx
Labels: area:web

fix(web): resolve TypeScript error in analytics dashboard focus management
  web/app/api/site-messages/route.ts
  web/features/analytics/components/EnhancedAnalyticsDashboard.tsx
Labels: area:web

fix(ci): correct Docker build configuration
  .github/workflows/ci.yml
  Dockerfile.web
  tsconfig.ci.tsbuildinfo
Labels: none

fix(ci): resolve TypeScript, Playwright, and test artifact issues
  .github/workflows/ci.yml
  .github/workflows/civics-smoke-test.yml
  tsconfig.base.json
  web/package.json
  web/tests/e2e/specs/analytics-axe-baseline.spec.ts
Labels: area:web

fix(vercel): support Node.js 22.x for Vercel deployment
  package.json
  vercel.json
  web/package.json
Labels: area:web

fix(vercel): remove incorrect functions runtime config
  vercel.json
Labels: none

fix(vercel): use exact '22.x' format for Node.js version
  package.json
  tsconfig.ci.tsbuildinfo
  web/package.json
Labels: area:web

fix(engines): use Node.js range to support both 22.x (Vercel) and 24.x (CI)
  package.json
  web/package.json
Labels: area:web

docs(api): create docs/API/contracts.md for governance check
  docs/API/contracts.md
Labels: none

fix(ci): add 'no tests found' handling for Load Tests job
  .github/workflows/test.yml
Labels: none

fix(types): integrate unused variables for security and logging
  tsconfig.ci.tsbuildinfo
  web/app/(app)/civics/page.tsx
  web/app/actions/register.ts
  web/app/api/admin/dashboard/route.ts
  web/app/api/admin/performance/alerts/[alertId]/resolve/route.ts
  web/app/api/auth/csrf/route.ts
  web/app/api/candidates/[slug]/route.ts
  web/app/api/polls/[id]/close/route.ts
  web/app/api/polls/[id]/lock/route.ts
  web/app/api/polls/[id]/post-close/route.ts
  web/app/api/polls/[id]/route.ts
  web/app/api/polls/[id]/vote/route.ts
  web/app/api/representatives/[id]/follow/route.ts
  web/app/api/shared/poll/[id]/route.ts
  web/app/api/user/trust-tier-progression/[id]/route.ts
  web/app/api/user/voting-history/[id]/route.ts
  web/app/api/v1/auth/webauthn/credentials/[id]/route.ts
Labels: area:web

fix(types): continue integrating unused variables
  tsconfig.ci.tsbuildinfo
  web/app/actions/register.ts
  web/app/api/auth/csrf/route.ts
  web/app/api/polls/[id]/lock/route.ts
  web/app/api/v1/auth/webauthn/credentials/[id]/route.ts
  web/app/auth/callback/route.ts
  web/app/auth/page.tsx
  web/app/auth/register/page.tsx
  web/components/charts/RechartsPieImpl.tsx
  web/contexts/AuthContext.tsx
  web/features/analytics/components/DemographicsChart.tsx
  web/features/auth/pages/callback/route.ts
  web/features/auth/pages/register/page.tsx
  web/features/feeds/lib/interest-based-feed.ts
Labels: area:web

fix(types): integrate more unused variables for functionality
  tsconfig.ci.tsbuildinfo
  web/app/auth/callback/route.ts
  web/app/auth/page.tsx
  web/app/auth/register/page.tsx
  web/features/hashtags/lib/hashtag-moderation.ts
  web/features/hashtags/lib/notification-service.ts
  web/lib/cache/redis-client.ts
Labels: area:web

fix(types): add userId logging to hashtag suggestions
  tsconfig.ci.tsbuildinfo
  web/features/hashtags/lib/hashtag-suggestions.ts
Labels: area:web

fix(types): integrate critical security and functionality variables
  tsconfig.ci.tsbuildinfo
  web/lib/candidate/journey-tracker.ts
  web/lib/core/auth/server-actions.ts
  web/lib/core/database/optimizer.ts
  web/lib/database/query-analyzer.ts
  web/lib/database/query-optimizer.ts
  web/lib/electoral/financial-transparency.ts
Labels: area:web

fix(types): integrate more unused variables for security and functionality
  tsconfig.ci.tsbuildinfo
  web/components/business/contact/ContactRepresentativeForm.tsx
  web/lib/cache/cache-invalidation.ts
  web/lib/database/query-optimizer.ts
  web/lib/electoral/geographic-feed.ts
  web/lib/identity/proof-of-personhood.ts
  web/lib/integrations/congress-gov/client.ts
  web/lib/integrations/fec/client.ts
Labels: area:web

fix(types): integrate more unused variables for monitoring and functionality
  tsconfig.ci.tsbuildinfo
  web/lib/identity/proof-of-personhood.ts
  web/lib/integrations/congress-gov/client.ts
  web/lib/integrations/monitoring.ts
  web/lib/integrations/open-states/client.ts
  web/lib/integrations/opensecrets/client.ts
  web/lib/integrations/rate-limiting.ts
  web/lib/legal/compliance.ts
Labels: area:web

fix(types): integrate remaining pipeline and validation variables
  tsconfig.ci.tsbuildinfo
  web/lib/integrations/monitoring.ts
  web/lib/integrations/opensecrets/client.ts
  web/lib/integrations/rate-limiting.ts
  web/lib/legal/compliance.ts
  web/lib/performance/performance-metrics.ts
  web/lib/pipelines/data-ingestion.ts
  web/lib/pipelines/data-transformation.ts
  web/lib/pipelines/data-validation.ts
Labels: area:web
