Repository choices-project/choices, changes with the labels that .github/labeler.yml gives for each.
All labels: area:web, area:auth, area:security

docs: Update documentation for expanded E2E coverage and automated journey tracking
  docs/core/DEVELOPMENT_STATUS.md
  docs/core/TESTING_ARCHITECTURE.md
  web/tests/utils/AUTOMATED_JOURNEY_TRACKING.md
Labels: area:web

🏛️ Fix OpenStates People data: Convert to proper git submodule
  .gitignore
  .gitmodules
  COMPREHENSIVE_ERROR_JSDOC_ROADMAP.md
  SUPERIOR_INGEST_OPTIMIZATION_RESEARCH.md
  services/civics-backend/README.md
  services/civics-backend/data/OPENSTATES_ATTRIBUTION.md
  services/civics-backend/lib/superior-data-pipeline.js
  services/civics-backend/scripts/populate-openstates-safe.js
  web/features/civics/lib/civics-superior/superior-data-pipeline.ts
Labels: area:web

Phase 3.2: Archive truly unused components
  web/app/(app)/civics-2-0/page-fixed.tsx
  web/archive/truly-unused-components-2025-10-26/SophisticatedAnalytics.tsx
  web/archive/truly-unused-components-2025-10-26/fec-service.ts
  web/features/admin/lib/performance-monitor.ts
  web/features/civics/lib/types/superior-types.ts
  web/features/pwa/lib/PWAAnalytics.ts
  web/scripts/enhanced-component-analysis.js
  web/scripts/final-component-analysis.js
Labels: area:web

Phase 3: Fix remaining type errors
  web/DATABASE_UTILIZATION_ANALYSIS.md
  web/app/api/civics/actions/route.ts
  web/archive/redundant-analytics-endpoints-20250127/README.md
  web/components/charts/Bar.tsx
  web/components/charts/Line.tsx
  web/components/charts/Pie.tsx
  web/components/charts/RechartsLineImpl.tsx
  web/components/charts/RechartsPieImpl.tsx
  web/components/shared/ModeSwitch.tsx
  web/features/admin/lib/performance-monitor.ts
  web/features/admin/lib/store.ts
  web/features/admin/types/index.ts
  web/features/analytics/lib/analytics-service.ts
  web/features/auth/components/PasskeyButton.tsx
  web/features/civics/components/CandidateCard.tsx
  web/features/civics/components/CivicsNavigation.tsx
  web/features/civics/lib/types/superior-types.ts
  web/lib/accessibility/screen-reader.ts
  web/lib/analytics/file-usage-tracker.ts
  web/lib/analytics/user-journey-mapper.ts
  web/lib/core/auth/idempotency.ts
  web/lib/vote/engine.ts
  web/public/default-avatar.svg
  web/scripts/enhanced-component-analysis.js
  web/scripts/final-component-analysis.js
  web/tests/api/sophisticated-civic-engagement.test.ts
  web/tests/e2e/complete-user-journey.test.ts
  web/tests/helpers/auth-helper.ts
  web/tests/helpers/security-tester.ts
  web/tests/rbac/rbac-system.spec.ts
  web/tsconfig.tsbuildinfo
  web/types/analytics.ts
  web/types/external/index.ts
  web/types/features/analytics/index.ts
  web/types/features/auth/index.ts
  web/types/features/dashboard/index.ts
  web/types/features/hashtags/index.ts
  web/types/features/polls/index.ts
  web/types/utils/index.ts
Labels: area:web

Add comprehensive schema enhancements and fix API type errors
  .github/workflows/choices-security.yml
  .github/workflows/civics-backend-health.yml
  docs/IDEAL_DOCUMENTATION_STRATEGY.md
  scripts/maintain-documentation.ts
  supabase/migrations/20251027181758_add_missing_tables_and_enhancements.sql
  web/app/api/feedback/route.ts
  web/sql/add-missing-tables.sql
  web/tsconfig.tsbuildinfo
  web/types/database.ts
Labels: area:web, area:security

🧹 CLEANUP: Remove superfluous files from root directory
  web/archive/root-cleanup-20251029/E2E_TESTING_GUIDE.md
  web/archive/root-cleanup-20251029/HASHTAG_STORE_FIX_ROADMAP.md
  web/archive/root-cleanup-20251029/INFINITE_LOOP_DEEP_ANALYSIS.md
  web/archive/root-cleanup-20251029/INFINITE_LOOP_DETECTIVE_REPORT.md
  web/archive/root-cleanup-20251029/INFINITE_LOOP_FIX_SUMMARY.md
  web/archive/root-cleanup-20251029/STORE_OPTIMIZATION_SUMMARY.md
  web/archive/root-cleanup-20251029/consistent-user-evolution.json
  web/archive/root-cleanup-20251029/dashboard-debug.png
  web/archive/root-cleanup-20251029/dashboard-hydration-debug.png
  web/archive/root-cleanup-20251029/debug-auth-page.png
  web/archive/root-cleanup-20251029/debug-home-page.png
  web/archive/root-cleanup-20251029/debug-login.png
  web/archive/root-cleanup-20251029/jest.config.background.js
  web/archive/root-cleanup-20251029/jest.config.integration.js
  web/archive/root-cleanup-20251029/jest.env.setup.js
  web/archive/root-cleanup-20251029/jest.global-setup.js
  web/archive/root-cleanup-20251029/jest.global-teardown.js
  web/archive/root-cleanup-20251029/jest.results-processor.js
  web/archive/root-cleanup-20251029/jest.server.setup.js
  web/archive/root-cleanup-20251029/jest.setup.after.js
  web/archive/root-cleanup-20251029/middleware-complex.ts
  web/archive/root-cleanup-20251029/middleware-simple-backup.ts
  web/archive/root-cleanup-20251029/middleware-simple.ts
  web/archive/root-cleanup-20251029/registration-page-debug.png
  web/tsconfig.tsbuildinfo
Labels: area:web

✨ PROFESSIONAL: Add comprehensive professional enhancements
  web/.nvmrc
  web/Dockerfile
  web/docker-compose.yml
Labels: area:web

🔄 RECONCILE: Merge professional enhancements with existing codebase
  web/tests/setup/jest.config.base.js
  web/tests/setup/jest.config.main.js
Labels: area:web

🎉 ACHIEVE PERFECT TYPESCRIPT COMPLIANCE
  web/lib/stores/profileStore.ts
  web/tests/jest/unit/lib/vote/voting-system-integration.test.ts
  web/tsconfig.tsbuildinfo
Labels: area:web

🔒 SECURITY FIX: Remove hardcoded Supabase service role key
  web/app/api/civics/by-state/route.ts
  web/lib/services/civics-integration.ts
  web/scripts/test-runner.sh
  web/tests/archive/e2e-tests-consolidated/minimal-polls-test.spec.ts
  web/tests/jest/unit/lib/core/auth-comprehensive.test.ts
  web/tests/jest/unit/lib/vote/voting-system-integration.test.ts
  web/tests/jest/unit/migration/context-to-zustand.test.ts
  web/tests/jest/unit/vote/vote-processor.test.ts
  web/tests/jest/unit/vote/vote-validator.test.ts
  web/tests/playwright/configs/test-results-chrome-only.json
  web/tests/setup/test-utils.ts
  web/tsconfig.tsbuildinfo
Labels: area:web

🔐 SECURITY: Switch to anonymous key for public data access
  web/app/api/civics/by-state/route.ts
  web/lib/services/civics-integration.ts
  web/tests/archive/e2e-tests-consolidated/debug-infinite-loop.spec.ts
Labels: area:web

🔒 SECURITY: Remove hardcoded test passwords
  web/app/api/polls/route.ts
  web/lib/services/civics-integration.ts
  web/tests/playwright/configs/test-results-chrome-only.json
  web/tests/playwright/e2e/core/critical-user-journeys.spec.ts
  web/tests/utils/real-test-user-manager.ts
Labels: area:web

🔒 SECURITY: Remove test user manager from git history
  .editorconfig
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  archive/database-types-backups/README.md
  archive/database-types-backups/supabase-generated-2025-10-26.ts
  docs/Civics/INGESTION_PROCESS.md
  docs/README.md
  docs/features/RATE_LIMITING.md
  services/civics-backend/.gitignore
  services/civics-backend/.npmrc
  services/civics-backend/Dockerfile
  services/civics-backend/config/default.js
  services/civics-backend/docker-compose.yml
  services/civics-backend/lib/canonical-id-service.ts
  services/civics-backend/lib/openstates-integration.ts
  services/civics-backend/lib/superior-data-pipeline.ts
  services/civics-backend/scripts/cleanup-duplicates.ts
  services/civics-backend/scripts/comprehensive-all-states.ts
  services/civics-backend/scripts/setup-database.js
  services/civics-backend/scripts/verify-database-data.ts
  supabase/migrations/20250127_setup_representative_rls_policies.sql
  supabase/migrations/20251027181758_add_missing_tables_and_enhancements.sql
  tsconfig.base.json
  tsconfig.tsbuildinfo
  web/lib/stores/pwaStore.ts
  web/tests/playwright/configs/test-results-chrome-only.json
  web/tests/utils/real-test-user-manager.ts
Labels: area:web

🔒 SECURITY: Remove hardcoded PostgreSQL password from CI
  .github/workflows/ci.yml
  web/app/api/civics/by-state/route.ts
  web/features/pwa/components/PWAFeatures.tsx
  web/jest.config.js
  web/lib/stores/analyticsStore.ts
  web/tests/jest/configs/jest.config.main.js
  web/tests/jest/configs/jest.config.unit-only.js
  web/tests/playwright/configs/test-results-chrome-only.json
  web/tests/utils/real-test-user-manager.ts
Labels: area:web

🎉 CLEAN IMPLEMENTATION: Next.js 15 upgrade with security best practices
  .github/workflows/ci.yml
  web/app/api/civics/by-state/route.ts
  web/features/pwa/components/PWAFeatures.tsx
  web/lib/cache/redis-client.ts
  web/lib/services/civics-integration.ts
  web/lib/stores/analyticsStore.ts
  web/lib/stores/hashtagStore.ts
  web/tests/utils/real-test-user-manager.ts
Labels: area:web

fix(lint): Agent 1 - Complete remaining API route fixes
  web/lib/integrations/google-civic/error-handling.ts
  web/lib/pipelines/data-ingestion.ts
  web/lib/pipelines/data-validation.ts
Labels: area:web

feat: Implement features and consolidate duplicates
  docs/CIVICS_COMPLETE_AUDIT_AND_TEST_REPORT.md
  docs/CIVICS_INGEST_FINAL_REPORT.md
  docs/E2E_TEST_STATUS_CIVICS.md
  scripts/prune-docs.sh
  tsconfig.ci.tsbuildinfo
  web/MULTI_AGENT_ASSIGNMENT_PLAN.md
  web/_archived/2025-11-03-consolidation/README.md
  web/_archived/2025-11-03-usePollWizard/usePollWizard.ts
  web/docs/ADMIN_DASHBOARD_AUDIT.md
  web/docs/ADMIN_ROUTING_MAP.md
  web/docs/APPROVAL_REQUIRED_ACTIONS.md
  web/docs/IMPLEMENTATION_METHODOLOGY.md
  web/docs/LINT_FIX_AUDIT.md
  web/docs/PARTIALLY_IMPLEMENTED_FEATURES.md
  web/docs/PROJECT_TIE_OFF_PLAN.md
  web/docs/QUALITY_AUDIT_SUMMARY.md
  web/docs/QUALITY_FIRST_APPROACH.md
  web/docs/USER_DIRECTIVES.md
  web/docs/WHAT_IM_DOING_WRONG.md
  web/features/admin/components/ComprehensiveAdminDashboard.tsx
  web/features/auth/components/BiometricSetup.tsx
  web/features/feeds/components/UnifiedFeed.tsx
  web/features/hashtags/components/HashtagTrending.tsx
  web/features/polls/hooks/usePollWizard.ts
  web/features/polls/index.ts
  web/features/polls/pages/create/page.tsx
  web/hooks/useUserType.ts
  web/lib/hooks/usePollWizard.ts
  web/lib/ssr-polyfills.ts
  web/lib/ssr-safe.ts
  web/lib/utils/sophisticated-analytics.ts
  web/shared/core/database/lib/supabase-ssr-safe.ts
  web/shared/utils/lib/browser-utils.ts
  web/ssr-polyfills.ts
  web/ssr-safe.ts
  web/tests/e2e/civics-address-lookup.spec.ts
  web/tests/e2e/civics-representative-db.spec.ts
  web/tests/e2e/helpers/e2e-setup.ts
Labels: area:web

feat: Phase 1 complete - Fix code logic errors (NO schema changes)
  tsconfig.ci.tsbuildinfo
  web/audit-results.json
  web/docs/DATABASE_SCHEMA_AUDIT.md
  web/docs/DATABASE_SCHEMA_AUDIT_CORRECTED.md
  web/docs/IMPLEMENTATION_COMPLETE_REPORT.md
  web/docs/PARTIALLY_IMPLEMENTED_FEATURES.md
  web/docs/PHASE_1_FIX_PLAN.md
  web/docs/PROJECT_TIE_OFF_PLAN.md
  web/lib/types/analytics.ts
  web/lib/utils/sophisticated-civic-engagement.ts
  web/scripts/audit-database-schema.ts
  web/shared/actions/vote.ts
Labels: area:web

feat: Schema migrations complete + code updated for new schema
  database/migrations/.archive/ARCHIVED_MIGRATIONS_INFO.md
  database/migrations/20251103_performance_tables_only.sql
  database/migrations/MIGRATION_FIXES.md
  database/migrations/README.md
  supabase/migrations/20251103_schema_additions.sql
  supabase/migrations/20251104_performance_tables.sql
  tsconfig.ci.tsbuildinfo
  web/docs/MIGRATION_COMPLETE_STATUS.md
  web/docs/PHASE_1_COMPLETE_SUMMARY.md
  web/docs/POST_MIGRATION_CODE_UPDATES.md
  web/docs/PROJECT_TIE_OFF_PLAN.md
  web/docs/SCHEMA_DESIGN_PROPOSAL.md
  web/docs/SCHEMA_VERIFICATION_COMPLETE.md
  web/docs/TYPE_CONSOLIDATION_PLAN.md
  web/lib/types/analytics.ts
  web/lib/utils/sophisticated-civic-engagement.ts
  web/shared/actions/vote.ts
  web/supabase/.temp/cli-latest
  web/supabase/.temp/gotrue-version
  web/supabase/.temp/pooler-url
  web/supabase/.temp/postgres-version
  web/supabase/.temp/project-ref
  web/supabase/.temp/rest-version
  web/supabase/.temp/storage-migration
  web/supabase/.temp/storage-version
  web/types/database.ts
  web/utils/supabase/database.types.ts
Labels: area:web

docs: Final consolidation - Archive outdated docs
  docs/archive/2025-11/component-docs/ENHANCED_DASHBOARD.md
  docs/archive/2025-11/component-docs/FEEDBACK_WIDGET.md
  docs/archive/2025-11/component-docs/FONT_PROVIDER.md
  docs/archive/2025-11/component-docs/GLOBAL_NAVIGATION.md
  docs/archive/2025-11/component-docs/README.md
  docs/archive/2025-11/component-docs/SITE_MESSAGES.md
  docs/archive/2025-11/feature-status-docs/features/ADMIN.md
  docs/archive/2025-11/feature-status-docs/features/ADMIN_SYSTEM.md
  docs/archive/2025-11/feature-status-docs/features/ANALYTICS.md
  docs/archive/2025-11/feature-status-docs/features/AUTHENTICATION.md
  docs/archive/2025-11/feature-status-docs/features/CIVICS_ADDRESS_LOOKUP.md
  docs/archive/2025-11/feature-status-docs/features/CIVICS_CAMPAIGN_FINANCE.md
  docs/archive/2025-11/feature-status-docs/features/CIVICS_REPRESENTATIVE_DATABASE.md
  docs/archive/2025-11/feature-status-docs/features/ENHANCED_DASHBOARD.md
  docs/archive/2025-11/feature-status-docs/features/ENHANCED_ONBOARDING.md
  docs/archive/2025-11/feature-status-docs/features/ENHANCED_POLLS.md
  docs/archive/2025-11/feature-status-docs/features/FEEDBACK_WIDGET.md
  docs/archive/2025-11/feature-status-docs/features/ONBOARDING.md
  docs/archive/2025-11/feature-status-docs/features/PWA.md
  docs/archive/2025-11/feature-status-docs/features/WEBAUTHN.md
  docs/archive/2025-11/feature-status-docs/features/WEBAUTHN_IMPLEMENTATION.md
  docs/archive/2025-11/future-feature-plans/CIVICS_TESTING_STRATEGY.md
  docs/archive/2025-11/future-feature-plans/CONTACT_INFORMATION_SYSTEM.md
  docs/archive/2025-11/future-feature-plans/DEVICE_FLOW_AUTH.md
  docs/archive/2025-11/future-feature-plans/FUTURE_FEATURES_QUARANTINE_SYSTEM.md
  docs/archive/2025-11/future-feature-plans/QUARANTINED_FEATURES_INDEX.md
  docs/archive/2025-11/future-feature-plans/SOCIAL_MEDIA_FEATURES_ROADMAP.md
  docs/archive/2025-11/future-feature-plans/SOCIAL_SHARING_IMPLEMENTATION_PLAN.md
  docs/archive/2025-11/future-feature-plans/SOCIAL_SHARING_MASTER_ROADMAP.md
  docs/archive/2025-11/future-feature-plans/ZERO_KNOWLEDGE_PROOFS_COMPREHENSIVE.md
  docs/archive/2025-11/future-feature-plans/ZK_IMPLEMENTATION_ROADMAP.md
  docs/archive/2025-11/future-feature-plans/poll-narrative-system.md
Labels: none

docs: Add final documentation status
  DOCUMENTATION_STATUS.md
Labels: none

docs: Add comprehensive feature documentation (10 features)
  docs/features/contact.md
  docs/features/dashboard.md
  docs/features/feeds.md
  docs/features/hashtags.md
  docs/features/onboarding.md
  docs/features/profile.md
  docs/features/pwa.md
  docs/features/voting.md
Labels: none

fix: Remove trust-weighted voting (all votes equal)
  docs/TRUST_TIER_DESIGN.md
  docs/features/polls.md
  docs/features/voting.md
  supabase/migrations/20251103_schema_additions.sql
  supabase/migrations/20251104_performance_tables.sql
  web/app/actions/vote.ts
Labels: area:web

chore: Regenerate types after trust-weighting removal
  web/utils/supabase/database.types.ts
Labels: area:web

docs: Complete documentation audit + scripts inventory
  docs/guides/SCRIPTS_INVENTORY.md
  scratch/archived-scripts/comprehensive-fix.js
Labels: none

docs: Consolidate to essential documentation only
  docs/archive/2025-11/DOCUMENTATION_AUDIT_HONEST.md
  docs/archive/2025-11/api/API_ENDPOINT_DIFFERENCES.md
  docs/archive/2025-11/api/DEPRECATED_ENDPOINT_EXPLANATION.md
  docs/archive/2025-11/api/README.md
  docs/archive/2025-11/decisions/quality-first-approach.md
  docs/archive/2025-11/feature-status-docs/candidate-platform/ALTERNATIVE_CANDIDATES_SYSTEM.md
  docs/archive/2025-11/feature-status-docs/candidate-platform/CANDIDATE_PLATFORM_BUILDER.md
  docs/archive/2025-11/feature-status-docs/candidate-platform/CANDIDATE_PLATFORM_IMPLEMENTATION_STATUS.md
  docs/archive/2025-11/feature-status-docs/candidate-platform/CANDIDATE_PLATFORM_SYSTEM_IMPLEMENTATION.md
  docs/archive/2025-11/feature-status-docs/candidate-platform/README.md
  docs/archive/2025-11/feature-status-docs/candidate-platform/STATUS.md
  docs/archive/2025-11/feature-status-docs/civics/CIVICS_E2E_TEST_UPDATES.md
  docs/archive/2025-11/feature-status-docs/civics/README.md
  docs/archive/2025-11/feature-status-docs/civics/REPRESENTATIVE_COMMUNICATION_FEATURES.md
  docs/archive/2025-11/feature-status-docs/civics/STATUS.md
  docs/features/candidate-platform.md
  docs/features/civics.md
  docs/features/filing-system.md
Labels: none

docs: Rewrite README as comprehensive documentation index
  docs/README.md
Labels: none

docs: Add comprehensive AI agent onboarding guide
  docs/AGENT_ONBOARDING.md
Labels: none

docs: Add AGENT_ONBOARDING to README quick start
  docs/README.md
Labels: none

docs: Update AGENT_ONBOARDING with critical practices
  docs/AGENT_ONBOARDING.md
Labels: none

docs: Create comprehensive NEXT_STEPS roadmap
  docs/NEXT_STEPS.md
Labels: none

docs: Update FEATURES.md - all 3 partial features are operational
  docs/FEATURES.md
Labels: none

docs: Complete integration testing of 3 operational features
  docs/INTEGRATION_TEST_REPORT.md
Labels: none

refactor: Consolidate code - archive redundant implementations
  scratch/FEATURE_DECISIONS.md
  scratch/INTEGRATION_TEST_REPORT.md
  scratch/NEXT_STEPS.md
  web/archive/2025-11/duplicate-components/AdminLayout.tsx
  web/archive/2025-11/duplicate-components/Header.tsx
  web/archive/2025-11/duplicate-components/Sidebar.tsx
  web/archive/2025-11/unused-performance/lib/component-optimization.tsx
  web/archive/2025-11/unused-performance/lib/optimized-poll-service.ts
  web/archive/2025-11/unused-performance/lib/performance-monitor-simple.ts
  web/archive/2025-11/unused-performance/lib/performance-monitor.ts
  web/archive/2025-11/unused-performance/lib/performance.ts
  web/archive/2025-11/unused-performance/performance-dashboard.ts
  web/archive/2025-11/unused-performance/performance-monitor.ts
  web/scripts/direct-table-check.js
  web/scripts/simple-schema-check.js
Labels: area:web

feat: Add Performance tab to ComprehensiveAdminDashboard
  web/features/admin/components/ComprehensiveAdminDashboard.tsx
Labels: area:web

feat: Add hashtag trending notifications system
  web/app/api/cron/hashtag-trending-notifications/route.ts
  web/features/hashtags/lib/notification-service.ts
Labels: area:web

docs: Update for hashtag notifications + CRON_SECRET
  docs/features/hashtags.md
Labels: none

config: Add vercel.json for cron jobs and security headers
  docs/ENVIRONMENT_VARIABLES.md
  docs/FEATURES.md
  vercel.json
Labels: none

fix: Remove extraneous line from database.types.ts
  web/utils/supabase/database.types.ts
Labels: area:web

fix: Auto-fix 16 lint errors
  web/features/polls/pages/create/page.tsx
  web/scripts/audit-database-schema.ts
  web/tests/e2e/civics-address-lookup.spec.ts
  web/tests/e2e/civics-representative-db.spec.ts
  web/types/database.ts
Labels: area:web

.github/labeler.yml:

area:web:
  - "web/**"
area:auth:
  - "web/app/(api|auth)/**"
area:security:
  - ".github/workflows/*security*"
  - ".github/workflows/*codeql*"
  - ".github/workflows/*gitleaks*"
