Repository choices-project/choices, changes with the labels that .github/labeler.yml gives for each.
All labels: area:web, area:auth, area:security

.github/labeler.yml:

area:web:
  - "web/**"
area:auth:
  - "web/app/(api|auth)/**"
area:security:
  - ".github/workflows/*security*"
  - ".github/workflows/*codeql*"
  - ".github/workflows/*gitleaks*"

fix(quality): harden release gates and deterministic e2e execution
  .github/workflows/test.yml
  .github/workflows/types.yml
  .github/workflows/web-ci.yml
  docs/DEPLOYMENT.md
  docs/DOCUMENTATION_AUDIT_ROADMAP.md
  docs/ENVIRONMENT_VARIABLES.md
  docs/ROADMAP.md
  docs/SECURITY.md
  docs/TESTING.md
  web/.env.local.example
  web/app/api/auth/_shared/csrf.ts
  web/app/api/feedback/route.ts
  web/app/api/site-messages/route.ts
  web/app/api/webhooks/resend/route.ts
  web/features/auth/lib/admin-auth.ts
  web/lib/auth/rate-limit-test-bypass.ts
  web/lib/config/env.ts
  web/lib/security/deployment-bypass.ts
  web/lib/services/audit-log-service.ts
  web/lib/stores/adminStore.ts
  web/middleware.ts
  web/package.json
  web/tests/e2e/specs/accessibility/critical-pages-a11y.spec.ts
  web/tests/e2e/specs/account/account-settings.spec.ts
  web/tests/e2e/specs/auth/auth-flow.spec.ts
  web/tests/e2e/specs/auth/auth-redirects.spec.ts
  web/tests/e2e/specs/auth/biometric-setup-flow.spec.ts
  web/tests/e2e/specs/auth/password-reset-flow.spec.ts
  web/tests/e2e/specs/civics/representatives-advanced-features.spec.ts
  web/tests/e2e/specs/critical-journey.spec.ts
  web/tests/e2e/specs/mvp-critical-flows.spec.ts
  web/tests/e2e/specs/mvp-verification.spec.ts
  web/tests/e2e/specs/onboarding/onboarding-complete-flow.spec.ts
  web/tests/e2e/specs/performance/representatives-latency.spec.ts
  web/tests/e2e/specs/polls/poll-analytics-verification.spec.ts
  web/tests/unit/lib/security/deployment-bypass.test.ts
  web/utils/supabase/server.ts
Labels: area:web

fix(auth): harden production login/session flow and release verification gates
  .cursor/plans/gaming_laptops_ranked_poll.plan.md
  .github/workflows/test.yml
  .github/workflows/types.yml
  .github/workflows/web-ci.yml
  docs/API/contracts.md
  docs/DEPLOYMENT.md
  docs/DOCUMENTATION_AUDIT_ROADMAP.md
  docs/ROADMAP.md
  docs/SECURITY.md
  docs/TESTING.md
  tsconfig.tests.tsbuildinfo
  web/app/api/auth/logout/route.ts
  web/app/api/health/ingest/route.ts
  web/app/auth/AuthPageClient.tsx
  web/app/auth/callback/route.ts
  web/features/auth/pages/callback/route.ts
  web/middleware.ts
  web/tests/e2e/specs/accessibility/critical-pages-a11y.spec.ts
  web/tests/e2e/specs/auth/auth-flow.spec.ts
  web/tests/e2e/specs/error-paths.spec.ts
  web/tests/e2e/specs/production-api.spec.ts
  web/utils/supabase/api-route.ts
Labels: area:web

test(e2e): stabilize production auth and feedback verification
  web/tests/e2e/specs/auth/auth-flow.spec.ts
  web/tests/e2e/specs/production/feedback-production.spec.ts
Labels: area:web

fix(auth): await real getSession; harden production feed E2E
  web/app/(app)/feed/FeedContent.tsx
  web/contexts/AuthContext.tsx
  web/tests/e2e/helpers/e2e-setup.ts
  web/tests/e2e/specs/production/feedback-production.spec.ts
Labels: area:web

fix(next): resolve clientModules 500 on / and HEAD
  web/app/(app)/page.tsx
  web/package.json
  web/scripts/vercel-build.sh
Labels: area:web

fix(redis): verify Upstash on connect; soften rate-limit fallback logs
  web/lib/cache/redis-client.ts
  web/lib/rate-limiting/api-rate-limiter.ts
  web/lib/rate-limiting/upstash-rate-limiter.ts
Labels: area:web

docs(agents): add Vercel plugin for Cursor + npm script
  .cursor/rules/projectruleschoices.mdc
  AGENTS.md
  docs/AGENT_SETUP.md
  package.json
Labels: none

docs: fix GitHub clone URL and canonical repo link
  README.md
  docs/GETTING_STARTED.md
  docs/PRIVACY_POLICY.md
Labels: none

docs: rewrite root README for clarity and accuracy
  README.md
Labels: none

docs: clarify .github README vs root README on GitHub
  .github/README.md
Labels: none

docs: polish root README for peer-facing GitHub landing
  README.md
Labels: none

chore: remove .github/README to avoid duplicate landing page
  .github/README.md
Labels: none

Stabilize production Playwright CI and stop tracking report artifacts.
  .github/workflows/production-tests.yml
  .gitignore
  AGENTS.md
  docs/DEPLOYMENT.md
  docs/TESTING.md
  web/package.json
  web/playwright-report-production/index.html
  web/playwright.production.config.ts
  web/test-results-production/results.xml
  web/tests/e2e/README.md
  web/tests/e2e/specs/auth/registration-flow.spec.ts
  web/tests/e2e/specs/critical-journey.spec.ts
  web/tests/e2e/specs/production-api.spec.ts
Labels: area:web

Streamline production CI and harden smoke tests for live hydration.
  .github/workflows/production-tests.yml
  CONTRIBUTING.md
  docs/TESTING.md
  web/tests/e2e/specs/mvp-smoke.spec.ts
Labels: area:web

Cursor rules: alwaysApply frontmatter and Anthropic-aligned agent defaults.
  .cursor/rules/choices-agent-defaults.mdc
  .cursor/rules/projectruleschoices.mdc
  AGENTS.md
  docs/AGENT_SETUP.md
Labels: none

docs: agent quality pass, backlog consolidation, and Jest config note
  AGENTS.md
  docs/AGENT_SETUP.md
  docs/DOCUMENTATION_AUDIT_ROADMAP.md
  docs/README.md
  docs/REMAINING_WORK_ROADMAP.md
  docs/ROADMAP.md
  docs/TESTING.md
  docs/VISION.md
  docs/agent-prompts/full-application-quality-pass.md
  web/jest.config.cjs
Labels: area:web

fix(auth): full-page redirect after login so middleware sees session cookies
  docs/TROUBLESHOOTING.md
  web/app/auth/AuthPageClient.tsx
Labels: area:web

docs: align Vercel Build & Deployment with root vercel.json
  docs/AGENT_SETUP.md
  docs/TROUBLESHOOTING.md
Labels: none

fix(pwa): bump SW version and bypass cache for auth-gated navigations
  docs/TROUBLESHOOTING.md
  web/public/service-worker.js
Labels: area:web

fix(security): allow CSP report content types through middleware
  web/lib/core/security/config.ts
Labels: area:web

fix(ui): stop feedback focus theft and premature poll step-2 error
  web/lib/accessibility/useAccessibleDialog.ts
  web/lib/stores/pollWizardStore.ts
Labels: area:web

fix(auth): pin OAuth + reset redirectTo to canonical site origin
  web/app/auth/AuthPageClient.tsx
  web/app/auth/reset/page.tsx
Labels: area:web

fix(polls): tally ranked-choice votes correctly on the poll page
  supabase/migrations/20260514130000_update_poll_vote_count_sync_participation_and_options.sql
  web/app/api/polls/[id]/activity/route.ts
  web/app/api/polls/[id]/results/route.ts
  web/app/api/polls/[id]/vote/route.ts
  web/features/polls/pages/[id]/PollClient.tsx
  web/lib/polls/voting-methods.ts
Labels: area:web

test(polls): pin down vote tallying contract per voting method
  web/features/polls/pages/[id]/PollClient.tsx
  web/lib/polls/voting-methods.test.ts
  web/lib/polls/voting-methods.ts
  web/scripts/test-update-poll-vote-count.ts
  web/tests/contracts/polls-activity.contract.test.ts
  web/tests/contracts/polls-results.contract.test.ts
  web/tests/contracts/polls-vote-status.contract.test.ts
Labels: area:web

fix(feedback): stop silently dropping legitimate feedback submissions
  web/app/api/feedback/route.ts
  web/components/EnhancedFeedbackWidget.tsx
  web/lib/feedback/content-validation.test.ts
  web/lib/feedback/content-validation.ts
  web/tests/contracts/feedback.contract.test.ts
Labels: area:web

fix(auth): stop trapping users on "Checking authentication..." forever
  web/components/business/auth/AuthGuard.test.tsx
  web/components/business/auth/AuthGuard.tsx
  web/contexts/AuthContext.tsx
Labels: area:web

fix(auth): stop 500ing on Supabase auth cookies that fail base64url+UTF-8 decode
  web/middleware.ts
  web/tests/unit/utils/supabase/sanitize-cookies.test.ts
  web/utils/supabase/sanitize-cookies.ts
  web/utils/supabase/server.ts
Labels: area:web

fix(auth): unblock OAuth "Working..." wedge + repair GitLeaks CI
  .github/workflows/gitleaks.yml
  web/app/auth/AuthPageClient.tsx
  web/messages/en.json
  web/messages/es.json
Labels: area:web, area:security

chore(test): remove obsolete eslint-disable in AuthGuard.test
  web/components/business/auth/AuthGuard.test.tsx
Labels: area:web

fix(auth): normalize post-login redirect away from /login alias
  web/app/auth/AuthPageClient.tsx
  web/app/auth/callback/route.ts
  web/app/auth/verify/route.ts
  web/lib/auth/normalize-post-auth-redirect.ts
  web/tests/unit/lib/auth/normalize-post-auth-redirect.test.ts
Labels: area:web

fix(auth): honor legacy redirect query for post-login navigation
  web/app/auth/AuthPageClient.tsx
  web/app/auth/callback/route.ts
  web/app/auth/verify/route.ts
  web/lib/auth/normalize-post-auth-redirect.ts
  web/tests/unit/lib/auth/normalize-post-auth-redirect.test.ts
Labels: area:web

Fix post-auth redirects across OAuth, verify, and middleware.
  docs/REMAINING_WORK_ROADMAP.md
  web/app/auth/callback/route.ts
  web/app/auth/reset/confirm/page.tsx
  web/app/auth/verify/route.ts
  web/lib/auth/normalize-post-auth-redirect.ts
  web/lib/auth/resolve-post-auth-redirect.ts
  web/middleware.ts
  web/tests/unit/lib/auth/resolve-post-auth-redirect.test.ts
Labels: area:web

Fix OAuth callback not persisting session cookies on redirect.
  web/app/auth/AuthPageClient.tsx
  web/app/auth/callback/route.ts
  web/app/auth/verify/route.ts
  web/utils/supabase/api-route.ts
  web/utils/supabase/copy-response-cookies.ts
Labels: area:web

Fix OAuth sign-in by completing PKCE in the browser and syncing cookies.
  web/app/api/auth/sync-session/route.ts
  web/app/auth/AuthPageClient.tsx
  web/app/auth/callback/page.tsx
  web/app/auth/callback/route.ts
  web/app/auth/verify/route.ts
  web/features/auth/pages/callback/route.ts
  web/lib/auth/sync-server-session.ts
  web/utils/supabase/api-route.ts
  web/utils/supabase/copy-response-cookies.ts
Labels: area:web

Fix OAuth callback blocked by 403 sync-session and PKCE double exchange.
  web/app/auth/callback/page.tsx
  web/lib/auth/sync-server-session.ts
  web/middleware.ts
  web/utils/supabase/client.ts
Labels: area:web

Fix feed redirect by syncing session via 303 redirect with tokens in body.
  web/app/api/auth/sync-session/route.ts
  web/app/auth/AuthPageClient.tsx
  web/app/auth/callback/page.tsx
  web/lib/auth/sync-server-session.ts
  web/middleware.ts
Labels: area:web

Consolidate auth flows: server OAuth callback and single navigation path.
  docs/REMAINING_WORK_ROADMAP.md
  docs/TROUBLESHOOTING.md
  web/_archive/features-auth-pages/README.md
  web/_archive/features-auth-pages/page.tsx
  web/_archive/features-auth-pages/route.ts
  web/app/api/auth/register/route.ts
  web/app/api/auth/sync-session/route.ts
  web/app/auth/AuthPageClient.tsx
  web/app/auth/callback/page.tsx
  web/app/auth/callback/route.ts
  web/features/auth/pages/page.tsx
  web/lib/auth/README.md
  web/lib/auth/post-auth-navigation.ts
  web/lib/auth/sync-server-session.ts
  web/tests/unit/lib/auth/sync-server-session.test.ts
  web/utils/supabase/copy-response-cookies.ts
Labels: area:web

Fix middleware stripping valid sessions when auth cookies are duplicated.
  web/middleware.ts
  web/tests/unit/utils/supabase/sanitize-cookies.test.ts
  web/utils/supabase/sanitize-cookies.ts
Labels: area:web

Hydrate client auth from httpOnly cookies via GET /api/auth/session.
  web/app/api/auth/session/route.ts
  web/contexts/AuthContext.tsx
  web/lib/auth/README.md
Labels: area:web

Consolidate client auth finish and archive sync-session fallback.
  web/_archive/api-auth-sync-session/README.md
  web/_archive/api-auth-sync-session/route.ts
  web/app/api/auth/session/route.ts
  web/app/auth/AuthPageClient.tsx
  web/components/business/auth/AuthGuard.test.tsx
  web/components/business/auth/AuthGuard.tsx
  web/contexts/AuthContext.tsx
  web/lib/auth/README.md
  web/lib/auth/browser-session.ts
  web/lib/auth/complete-sign-in.ts
  web/lib/auth/get-server-auth.ts
  web/lib/auth/post-auth-navigation.ts
  web/middleware.ts
  web/scripts/verify-local-auth-flow.sh
Labels: area:web
