Repository choices-project/choices, changes with the labels that .github/labeler.yml gives for each.
All labels: area:web, area:auth, area:security

fix: Add NodeJS type references to remaining files
  web/lib/types/pwa.ts
Labels: area:web

fix: Add NodeJS types reference to AnalyticsEngine
  web/features/analytics/lib/AnalyticsEngine.ts
Labels: area:web

fix: Use nullish coalescing for supabase client default
  web/utils/privacy/data-management.ts
Labels: area:web

fix: ContactRepresentatives - unused var + nullish coalescing
  database/migrations/.archive/ARCHIVED_MIGRATIONS_INFO.md
  database/migrations/20251103_performance_tables_only.sql
  database/migrations/MIGRATION_FIXES.md
  database/migrations/README.md
  web/features/contact/components/ContactRepresentativesSection.tsx
Labels: area:web

fix: Remove redundant state from UnifiedFeed + update PersonalDashboard
  web/features/dashboard/components/PersonalDashboard.tsx
  web/features/feeds/components/UnifiedFeed.tsx
Labels: area:web

fix: Remove dead code from UnifiedFeed (image loading handlers)
  web/features/feeds/components/UnifiedFeed.tsx
Labels: area:web

feat: Integrate HashtagTrending with Zustand store filters
  web/features/hashtags/components/HashtagTrending.tsx
Labels: area:web

feat: Integrate ProfileEdit with Zustand store
  web/features/profile/components/ProfileEdit.tsx
Labels: area:web

fix: Batch fixes - unused vars, optional chaining, dead code (11 files)
  web/features/profile/components/ProfileHashtagIntegration.tsx
  web/lib/core/auth/utils.ts
  web/src/app/page.tsx
Labels: area:web

fix: Clean up service worker references and fix linter errors
  web/features/pwa/components/ServiceWorkerProvider.tsx
  web/features/pwa/lib/background-sync.ts
  web/features/pwa/lib/cache-strategies.ts
  web/features/pwa/lib/push-notifications.ts
  web/features/pwa/lib/service-worker-registration.ts
  web/hooks/useDeviceDetection.ts
  web/lib/pwa/service-worker.ts
  web/lib/stores/pwaStore.ts
  web/middleware.ts
  web/public/sw.js
  web/tests/e2e/api-endpoints.spec.ts
  web/tests/e2e/pwa-api.spec.ts
  web/tests/e2e/rate-limit-bypass.spec.ts
  web/utils/supabase/database.types.ts
Labels: area:web

refactor: PWA migration to Zustand - Phase 1 (2/11 files)
  web/_archived/2025-11-pwa-redundant-components/README.md
  web/app/(app)/layout.tsx
  web/features/pwa/components/OfflineIndicator.tsx
  web/features/pwa/components/OfflineQueue.tsx
Labels: area:web

refactor: Complete PWA migration to Zustand (10/11 files)
  web/components/PWAIntegration.tsx
  web/components/PWAStatus.tsx
  web/features/pwa/components/InstallPrompt.tsx
  web/features/pwa/components/NotificationPermission.tsx
  web/features/pwa/components/NotificationPreferences.tsx
  web/features/pwa/components/NotificationSettings.tsx
  web/features/pwa/components/OfflineQueue.tsx
  web/features/pwa/components/OfflineSync.tsx
  web/features/pwa/components/OfflineVoting.tsx
  web/features/pwa/components/PWAInstaller.tsx
Labels: area:web

docs: Add comprehensive JSDoc to all migrated PWA components
  web/components/PWAIntegration.tsx
  web/components/PWAStatus.tsx
  web/features/pwa/components/NotificationPermission.tsx
  web/features/pwa/components/NotificationPreferences.tsx
  web/features/pwa/components/NotificationSettings.tsx
  web/features/pwa/components/OfflineIndicator.tsx
  web/features/pwa/components/OfflineQueue.tsx
  web/features/pwa/components/OfflineSync.tsx
  web/features/pwa/components/OfflineVoting.tsx
  web/features/pwa/components/PWAInstaller.tsx
Labels: area:web

feat: Complete PWA Zustand migration and archive old system
  web/_archived/2025-11-03-consolidation/README.md
  web/_archived/2025-11-03-usePollWizard/usePollWizard.ts
  web/_archived/2025-11-admin-store-feature-local.ts
  web/_archived/2025-11-analytics-api-consolidation.md
  web/_archived/2025-11-analytics-service-legacy.ts
  web/_archived/2025-11-analytics-service-legacy.ts.README.md
  web/_archived/2025-11-auth-components/BiometricSetup.tsx
  web/_archived/2025-11-auth-components/PasskeyButton.tsx
  web/_archived/2025-11-auth-components/PasskeyLogin.tsx
  web/_archived/2025-11-auth-components/PasskeyManagement.tsx
  web/_archived/2025-11-auth-components/PasskeyRegister.tsx
  web/_archived/2025-11-auth-components/README.md
  web/_archived/2025-11-burger-menu-shared.tsx
  web/_archived/2025-11-old-src-directory/README.md
  web/_archived/2025-11-poll-analytics-route/[id]/route.ts
  web/_archived/2025-11-poll-service-deprecated.ts
  web/_archived/2025-11-pwa-redundant-components/README.md
  web/_archived/2025-11-shared-components/DeviceList.tsx
  web/_archived/2025-11-shared-components/FeatureWrapper.tsx
  web/_archived/2025-11-shared-components/FontProvider.tsx
  web/_archived/2025-11-shared-components/GlobalNavigation.tsx
  web/_archived/2025-11-shared-components/ModeSwitch.tsx
  web/_archived/2025-11-shared-components/README.md
  web/_archived/2025-11-shared-components/SiteMessages.tsx
  web/_archived/2025-11-summary-analytics-route/route.ts
  web/_archived/2025-11-unified-analytics-route/[id]/route.ts
  web/_archived/2025-11-user-analytics-route/[id]/route.ts
  web/_archived/2025-11-webauthn-error-handling-lib.ts
  web/hooks/usePWA.ts
  web/lib/pwa/init.ts
  web/lib/pwa/installation.ts
  web/lib/pwa/service-worker.ts
Labels: area:web

chore: Upgrade to production stability configuration
  .nvmrc
  PWA_DEPLOYMENT_COMPLETE.md
  STABILITY_UPGRADE_COMPLETE.md
  web/app/(app)/admin/monitoring/page.tsx
  web/app/(app)/candidate/platform/[id]/edit/page.tsx
  web/app/(app)/civics-2-0/page-fixed.tsx
  web/app/(app)/polls/create/page.tsx
  web/package-lock.json
  web/package.json
  web/scripts/normalize-versions.cjs
  web/scripts/normalize-versions.js
  web/ssr-polyfills.ts
Labels: area:web

docs: Add upgrade summary guide
  UPGRADE_SUMMARY.md
Labels: none

fix: Update all CI/CD workflows to Node.js 24 and configure Vercel
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/civics-smoke-test.yml
  .github/workflows/codeql-js.yml
  .github/workflows/deploy.yml
  .github/workflows/security-watch.yml
  .github/workflows/test.yml
  .github/workflows/types.yml
  .node-version
  READY_TO_DEPLOY.md
  tsconfig.ci.tsbuildinfo
  vercel.json
Labels: area:security

docs: Document PR #112 critical fix for Node version mismatch
  PR_112_FIX.md
Labels: none

refactor: Remove anti-pattern API tests, use E2E tests instead
  .github/workflows/ci.yml
  .github/workflows/web-ci.yml
  TESTING_BEST_PRACTICES.md
  web/tests/api/civics/contact.test.ts
  web/tests/api/contact/messages.test.ts
  web/tests/api/security/monitoring.clear.spec.ts
  web/tests/api/security/monitoring.get.spec.ts
Labels: area:web

docs: Add final production readiness summary
  PRODUCTION_READY_SUMMARY.md
Labels: none

fix: Update all CI/CD workflows to Node.js 24 and configure Vercel
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/civics-smoke-test.yml
  .github/workflows/codeql-js.yml
  .github/workflows/deploy.yml
  .github/workflows/security-watch.yml
  .github/workflows/test.yml
  .github/workflows/types.yml
  .node-version
  READY_TO_DEPLOY.md
  tsconfig.ci.tsbuildinfo
  vercel.json
Labels: area:security

refactor: Remove anti-pattern API tests, use E2E tests instead
  .github/workflows/ci.yml
  .github/workflows/web-ci.yml
  TESTING_BEST_PRACTICES.md
  web/tests/api/civics/contact.test.ts
  web/tests/api/contact/messages.test.ts
  web/tests/api/security/monitoring.clear.spec.ts
  web/tests/api/security/monitoring.get.spec.ts
Labels: area:web

docs: Move documentation to scratch directory
  READY_TO_DEPLOY.md
  TESTING_BEST_PRACTICES.md
  tsconfig.ci.tsbuildinfo
Labels: none

feat: Regenerate Supabase types from production database
  web/types/supabase.ts
Labels: area:web

chore: Remove build artifact
  web/tsconfig.tsbuildinfo
Labels: area:web

docs: update STATUS.md with accurate error count (330 errors)
  STATUS.md
Labels: none

fix: continue systematic TypeScript error fixing (302/507 fixed - 60%)
  web/app/api/civic-actions/route.ts
  web/app/api/onboarding/progress/route.ts
  web/lib/stores/hashtagStore.ts
  web/lib/stores/representativeStore.ts
  web/lib/stores/userStore.ts
  web/shared/actions/vote.ts
  web/tsconfig.tsbuildinfo
Labels: area:web

fix: systematic error fixing continues (329/507 fixed - 65%)
  web/features/pwa/lib/PWAAnalytics.ts
  web/lib/core/services/real-time-news.ts
  web/lib/db/upsert.ts
  web/lib/pipelines/data-validation.ts
  web/tsconfig.tsbuildinfo
Labels: area:web

fix: break 70% milestone - 360/507 errors fixed (71%)
  web/app/api/civic-actions/route.ts
  web/features/analytics/lib/analytics-service.ts
  web/features/polls/pages/create/page.tsx
  web/lib/privacy/social-discovery.ts
  web/lib/services/civics-integration.ts
  web/lib/utils/performance-monitor.ts
  web/tsconfig.tsbuildinfo
Labels: area:web

fix: approaching 75% - 378/507 errors fixed (74.6%)
  web/app/api/onboarding/progress/route.ts
  web/app/api/representatives/[id]/follow/route.ts
  web/lib/integrations/fec.ts
  web/lib/privacy/dp.ts
  web/tsconfig.tsbuildinfo
Labels: area:web

fix: 77% milestone - 389/507 errors fixed
  web/app/api/polls/route.ts
  web/app/api/privacy/preferences/route.ts
  web/app/api/representatives/my/route.ts
  web/features/pwa/lib/PWAAnalytics.ts
  web/tsconfig.tsbuildinfo
Labels: area:web

docs: update STATUS.md - 77% complete (389/507 fixed)
  STATUS.md
Labels: none

fix: 78% complete - 394/507 errors fixed
  web/lib/admin-auth.ts
  web/lib/core/auth/require-user.ts
  web/tsconfig.tsbuildinfo
Labels: area:web

fix: break 79% - 403/507 errors fixed
  web/app/api/auth/register/route.ts
  web/app/api/auth/sync-user/route.ts
  web/app/api/cron/hashtag-trending-notifications/route.ts
  web/app/api/polls/route.ts
  web/app/api/polls/trending/route.ts
  web/tsconfig.tsbuildinfo
Labels: area:web

refactor: remove duplicate differential-privacy module
  DUPLICATE_DIFFERENTIAL_PRIVACY_ANALYSIS.md
  web/_archived/2025-11-05-typescript-cleanup/differential-privacy.ts.inferior
  web/tsconfig.tsbuildinfo
Labels: area:web

fix: complete dp.ts properly - remove placeholders, production-ready
  DIFFERENTIAL_PRIVACY_HONEST_ASSESSMENT.md
  DUPLICATE_DIFFERENTIAL_PRIVACY_ANALYSIS.md
  web/lib/core/privacy/differential-privacy.ts
  web/lib/core/privacy/hybrid-privacy.ts
  web/lib/core/privacy/zero-knowledge-proofs.ts
  web/lib/privacy/dp.ts
  web/tsconfig.tsbuildinfo
Labels: area:web

fix: admin, civics, profile, onboarding routes (9 errors fixed, 507→96 = 81.1%)
  web/app/api/admin/feedback/route.ts
  web/app/api/admin/system-metrics/route.ts
  web/app/api/admin/system-status/route.ts
  web/app/api/civics/actions/[id]/route.ts
  web/app/api/civics/actions/route.ts
  web/app/api/civics/local/la/route.ts
  web/app/api/onboarding/complete/route.ts
  web/app/api/profile/route.ts
  web/tsconfig.tsbuildinfo
Labels: area:web

fix: webauthn/feeds/polls export errors (3 fixed, 507→89 = 82.4% reduction)
  web/app/api/admin/system-metrics/route.ts
  web/app/api/notifications/route.ts
  web/app/api/webauthn/authenticate/complete/route.ts
  web/features/feeds/components/UnifiedFeed.tsx
  web/features/feeds/index.ts
  web/features/polls/index.ts
  web/tsconfig.tsbuildinfo
Labels: area:web

fix: remove apologetic/workaround comments, fix hoisting issue properly
  web/app/api/webauthn/authenticate/complete/route.ts
  web/features/feeds/components/UnifiedFeed.tsx
  web/tsconfig.tsbuildinfo
Labels: area:web

fix: properly insert calculatePersonalizationScore before usage (89 errors)
  web/features/feeds/components/UnifiedFeed.tsx
  web/tsconfig.tsbuildinfo
Labels: area:web

.github/labeler.yml:

area:web:
  - "web/**"
area:auth:
  - "web/app/(api|auth)/**"
area:security:
  - ".github/workflows/*security*"
  - ".github/workflows/*codeql*"
  - ".github/workflows/*gitleaks*"
