Repository choices-project/choices, changes with the labels that .github/labeler.yml gives for each.
All labels: area:web, area:auth, area:security

fix: vote test files cleanup
  web/tests/unit/vote/engine.test.ts
  web/tests/unit/vote/vote-engine.test.ts
  web/tests/unit/vote/vote-processor.test.ts
Labels: area:web

fix: vote-validator test file partial cleanup
  web/tests/unit/vote/vote-validator.test.ts
Labels: area:web

fix: complete vote-validator test file cleanup
  web/tests/unit/vote/vote-validator.test.ts
Labels: area:web

fix: final vote-validator test file cleanup
  web/tests/unit/vote/vote-validator.test.ts
Labels: area:web

fix: complete vote-validator test file - ALL spreads fixed!
  web/tests/unit/vote/vote-validator.test.ts
Labels: area:web

fix: final React Hook dependency warnings - PERFECT BUILD ACHIEVED!
  web/lib/hooks/usePollWizard.ts
  web/lib/performance/lazy-loading.ts
Labels: area:web

fix: final React Hook warning with ESLint disable
  tsconfig.ci.tsbuildinfo
  web/lib/performance/lazy-loading.ts
Labels: area:web

fix: eliminate all ESLint warnings for strict CI compliance
  TEST_AUDIT_MASTER_DOC.md
  tsconfig.ci.tsbuildinfo
  web/lib/performance/lazy-loading.ts
  web/lib/utils/csrf-fetch.ts
  web/tests/unit/vote/vote-processor.test.ts
Labels: area:web

fix: correct workflow script names for CI
  .github/workflows/test.yml
  .github/workflows/types.yml
Labels: none

fix: exclude quarantined files from CodeQL analysis
  .github/codeql/config.yml
Labels: none

fix: add specific file exclusions to CodeQL config
  .github/codeql/config.yml
Labels: none

fix: resolve CodeQL trivial conditionals and redundant operations in production API routes
  CODEQL_MASTER_FIX_DOCUMENT.md
  scripts/codemods/replace-import.js
  tsconfig.ci.tsbuildinfo
  web/app/api/admin/breaking-news/[id]/poll-context/route.ts
  web/app/api/admin/feedback/[id]/status/route.ts
  web/app/api/admin/feedback/export/route.ts
  web/app/api/admin/feedback/route.ts
  web/app/api/auth/webauthn/trust-score/route.ts
  web/app/api/polls/[id]/results/route.ts
Labels: area:web

feat: implement aggressive CodeQL exclusions and auto-comment workflow
  .github/codeql/config.yml
  .github/workflows/codeql-alert-summary.yml
  .github/workflows/codeql-js.yml
Labels: area:security

fix: add explicit permissions to CodeQL alert summary workflow
  .github/workflows/codeql-alert-summary.yml
Labels: area:security

fix: identify and resolve dual CodeQL setup conflict
  .github/workflows/codeql-js.yml
  CODEQL_MASTER_FIX_DOCUMENT.md
Labels: area:security

docs: update master document to reflect zero alerts achievement
  CODEQL_MASTER_FIX_DOCUMENT.md
Labels: none

fix: resolve race condition in CodeQL alert summary workflow
  .github/workflows/codeql-alert-summary.yml
Labels: area:security

fix: correct CodeQL alert count - 60 total alerts (2 critical, 14 high, 11 medium, 7 errors, 9 warnings, 17 notes)
  CODEQL_MASTER_FIX_DOCUMENT.md
Labels: none

fix: critical security vulnerabilities - XSS sink and origin validation
  web/features/pwa/components/PWAInstaller.tsx
  web/shared/utils/lib/http.ts
Labels: area:web

fix: remove trivial conditionals in WebAuthn trust score route
  web/app/api/auth/webauthn/trust-score/route.ts
Labels: area:web

fix: comprehensive CodeQL fixes following Codex instructions
  web/app/api/admin/feedback/route.ts
  web/app/api/polls/[id]/results/route.ts
  web/features/admin/components/PerformanceDashboard.tsx
Labels: area:web

trigger: force CodeQL re-analysis with all fixes
  tsconfig.ci.tsbuildinfo
Labels: none

fix: additional CodeQL fixes for remaining alerts
  web/app/api/admin/feedback/route.ts
  web/app/api/polls/[id]/results/route.ts
Labels: area:web

docs: update README with CodeQL fixes completion
  README.md
Labels: none

fix: update Vercel configuration for proper TypeScript path resolution
  web/vercel.json
Labels: area:web

fix: correct TypeScript path mappings for web directory
  tsconfig.ci.tsbuildinfo
  web/next.config.js
  web/tsconfig.base.json
  web/tsconfig.json
  web/vercel.json
Labels: area:web

fix: revert to cleaner Vercel deployment approach
  web/tsconfig.base.json
  web/tsconfig.json
  web/vercel.json
Labels: area:web

fix: create standalone tsconfig.json for Vercel deployment
  web/tsconfig.json
  web/vercel.json
Labels: area:web

fix: resolve next.config.js CommonJS/ES module syntax conflict
  web/next.config.js
Labels: area:web

fix: revert next.config.js to original ES module syntax
  web/next.config.js
Labels: area:web

docs: update README with CodeQL fixes completion (#91)
  README.md
  tsconfig.ci.tsbuildinfo
  web/tsconfig.json
Labels: area:web

chore: clean up build artifacts before merge
  tsconfig.ci.tsbuildinfo
Labels: none

fix: resolve Next.js client reference manifest error and linting issues
  generate-pepper.js
  tsconfig.ci.tsbuildinfo
  web/app/api/v1/civics/address-lookup/route.ts
  web/app/landing/globals.css
  web/app/landing/layout.tsx
  web/app/landing/page.tsx
Labels: area:web

feat: add comprehensive civics address lookup testing
  CIVICS_FEATURE_TESTING_PLAN.md
  web/scripts/test-civics-feature.js
  web/tests/api/civics-address-lookup.test.ts
Labels: area:web

feat: fix civics database relationships and create proper E2E tests
  web/app/api/civics/by-state/route.ts
  web/tests/e2e/civics-address-lookup-enhanced.spec.ts
  web/tests/e2e/civics-address-lookup-proper.spec.ts
Labels: area:web

fix: resolve Vercel deployment error with PRIVACY_PEPPER_DEV environment variable
  docs/ROADMAP.md
  docs/core/PROJECT_COMPREHENSIVE_OVERVIEW.md
  docs/future-features/BROWSER-LOCATION.md
  docs/implementation/features/CIVICS_ADDRESS_LOOKUP.md
  docs/implementation/features/CIVICS_REPRESENTATIVE_DATABASE.md
  tsconfig.ci.tsbuildinfo
  web/app/api/v1/civics/address-lookup/route.ts
  web/database/clean-database-setup.sql
  web/database/complete-civics-schema.sql
  web/database/current_DB_schema_sept27.sql
  web/database/enhanced-civics-schema.sql
  web/database/performance-optimization.sql
  web/database/privacy-first-schema.sql
  web/database/production-guardrails-fixed.sql
  web/database/production-guardrails.sql
  web/database/security-cleanup.sql
  web/database/sf-local-schema.sql
  web/lib/civics/env-guard.ts
  web/lib/civics/ingest.ts
  web/lib/civics/privacy-utils.ts
Labels: area:web

fix: resolve Vercel deployment error with PRIVACY_PEPPER_DEV environment variable
  web/lib/civics/env-guard.ts
  web/lib/civics/privacy-utils.ts
Labels: area:web

fix: add proper Supabase environment variable validation to civics-ingest route
  web/app/api/admin/civics-ingest/route.ts
Labels: area:web

feat: implement browser location capture system
  archive/PRIVACY_FIRST_COMPLETE_SETUP.sql
  archive/PRIVACY_FIRST_FIXED_SETUP.sql
  docs/ROADMAP.md
  docs/core/PROJECT_COMPREHENSIVE_OVERVIEW.md
  docs/future-features/BROWSER-LOCATION.md
  docs/implementation/features/CIVICS_ADDRESS_LOOKUP.md
  tsconfig.ci.tsbuildinfo
  web/app/(app)/profile/page.tsx
  web/app/api/user/profile/route.ts
  web/app/api/v1/civics/address-lookup/route.ts
  web/components/onboarding/EnhancedOnboardingFlow.tsx
  web/components/onboarding/LocationInput.tsx
  web/components/onboarding/LocationSetupStep.tsx
  web/components/onboarding/types.ts
  web/database/20250927_add_browser_location_schema.sql
  web/database/20250927_drop_browser_location_schema.sql
  web/lib/civics/geographic-service.ts
  web/lib/civics/location-resolver.server.ts
  web/lib/core/feature-flags.ts
  web/lib/privacy/location-resolver.ts
  web/lib/validation/schemas.ts
  web/scripts/generate-jurisdictions.ts
  web/tests/location-resolver.test.ts
  web/types/supabase.ts
  web/utils/supabase/client.ts
  web/utils/supabase/server.ts
Labels: area:web

fix: add missing Supabase environment variables to civics-smoke-test workflow
  .github/workflows/civics-smoke-test.yml
Labels: none

.github/labeler.yml:

area:web:
  - "web/**"
area:auth:
  - "web/app/(api|auth)/**"
area:security:
  - ".github/workflows/*security*"
  - ".github/workflows/*codeql*"
  - ".github/workflows/*gitleaks*"
