Repository choices-project/choices, changes with the labels that .github/labeler.yml gives for each.
All labels: area:web, area:auth, area:security

.github/labeler.yml:

area:web:
  - "web/**"
area:auth:
  - "web/app/(api|auth)/**"
area:security:
  - ".github/workflows/*security*"
  - ".github/workflows/*codeql*"
  - ".github/workflows/*gitleaks*"

fix: improve harness pages and admin-store test
  web/app/(app)/e2e/app-store/page.tsx
  web/tests/e2e/specs/admin-store.spec.ts
Labels: area:web

fix: stabilize harness setup with empty dependency arrays
  web/app/(app)/e2e/admin-store/page.tsx
  web/app/(app)/e2e/app-store/page.tsx
Labels: area:web

fix: remove unused imports from harness pages
  web/app/(app)/e2e/admin-store/page.tsx
  web/app/(app)/e2e/app-store/page.tsx
Labels: area:web

fix: remove unused state variable in admin-store harness
  web/app/(app)/e2e/admin-store/page.tsx
Labels: area:web

fix: preserve all required properties when resetting admin feature flags
  tsconfig.tsbuildinfo
  web/app/(app)/e2e/admin-store/page.tsx
Labels: area:web

fix: add null check for notificationId in admin-store test
  tsconfig.tsbuildinfo
  web/tests/e2e/specs/admin-store.spec.ts
Labels: area:web

fix: add ready state to harness pages and fix resolvedTheme calculation
  web/app/(app)/e2e/admin-store/page.tsx
  web/app/(app)/e2e/app-store/page.tsx
Labels: area:web

fix: prefix unused ready state variables
  web/app/(app)/e2e/admin-store/page.tsx
  web/app/(app)/e2e/app-store/page.tsx
Labels: area:web

fix: add error handling to harness setup and fix indentation
  web/app/(app)/e2e/admin-store/page.tsx
  web/app/(app)/e2e/app-store/page.tsx
Labels: area:web

fix: use useLayoutEffect for synchronous harness setup
  web/app/(app)/e2e/admin-store/page.tsx
  web/app/(app)/e2e/app-store/page.tsx
Labels: area:web

fix: remove unused useEffect imports
  web/app/(app)/e2e/admin-store/page.tsx
  web/app/(app)/e2e/app-store/page.tsx
Labels: area:web

fix: revert to useEffect and improve harness setup error handling
  web/app/(app)/e2e/admin-store/page.tsx
  web/app/(app)/e2e/app-store/page.tsx
Labels: area:web

fix: correct syntax error in admin-store harness object
  web/app/(app)/e2e/admin-store/page.tsx
Labels: area:web

fix: remove duplicate harness declaration in app-store page
  web/app/(app)/e2e/app-store/page.tsx
Labels: area:web

fix: match poll-wizard harness pattern exactly
  web/app/(app)/e2e/admin-store/page.tsx
  web/app/(app)/e2e/app-store/page.tsx
Labels: area:web

fix: add error handling to harness setup with fallback
  web/app/(app)/e2e/admin-store/page.tsx
  web/app/(app)/e2e/app-store/page.tsx
Labels: area:web

fix: add eslint-disable for empty fallback functions and complete app-store fix
  web/app/(app)/e2e/admin-store/page.tsx
  web/app/(app)/e2e/app-store/page.tsx
Labels: area:web

fix: remove unnecessary eslint-disable directives
  web/app/(app)/e2e/admin-store/page.tsx
  web/app/(app)/e2e/app-store/page.tsx
Labels: area:web

fix: resolve TypeScript errors and improve GitHub Actions workflows
  .github/workflows/deploy.yml
  web/tests/api/civics/by-address.test.ts
  web/tests/integration/api/civic-actions.test.ts
  web/tests/integration/candidates/verification-flow.test.ts
Labels: area:web

fix: resolve E2E test failures for perfect UX
  tsconfig.ci.tsbuildinfo
  web/tests/e2e/specs/admin-store.spec.ts
  web/tests/e2e/specs/civics-lure.spec.ts
Labels: area:web

fix: resolve additional E2E test failures for perfect UX
  web/tests/e2e/specs/app-store.spec.ts
  web/tests/e2e/specs/auth/auth-flow.spec.ts
  web/tests/e2e/specs/civics-lure.spec.ts
  web/tests/e2e/specs/pwa-store.spec.ts
Labels: area:web

fix: improve E2E test reliability and audit log resilience
  web/app/(app)/e2e/civics-lure/page.tsx
  web/lib/services/audit-log-service.ts
  web/tests/e2e/helpers/accessibility.ts
  web/tests/e2e/specs/civics-lure.spec.ts
Labels: area:web

fix: resolve E2E test failures for perfect UX
  web/lib/rate-limiting/upstash-rate-limiter.ts
  web/tests/e2e/specs/civics-lure.spec.ts
  web/tests/e2e/specs/feeds-store.spec.ts
  web/tests/e2e/specs/user-store.spec.ts
  web/tests/e2e/specs/voting-store.spec.ts
Labels: area:web

fix: handle production redirect tests in E2E harness mode
  web/tests/e2e/specs/production/production-critical-journeys.spec.ts
  web/tests/e2e/specs/production/production-expanded.spec.ts
  web/tests/e2e/specs/production/production-smoke.spec.ts
Labels: area:web

fix: resolve remaining E2E test failures for perfect UX
  web/tests/e2e/specs/onboarding-auth.spec.ts
  web/tests/e2e/specs/push-notifications.spec.ts
Labels: area:web

fix: remove duplicate code in production-smoke test
  web/tests/e2e/specs/production/production-smoke.spec.ts
Labels: area:web

fix: improve production authenticated user redirect test
  web/tests/e2e/specs/production/production-critical-journeys.spec.ts
Labels: area:web

fix: improve production auth test to handle authentication persistence issues
  web/tests/e2e/specs/production/production-critical-journeys.spec.ts
Labels: area:web

fix: resolve underlying codebase issues
  web/app/(app)/e2e/voting-store/page.tsx
  web/features/pwa/components/NotificationPreferences.tsx
Labels: area:web

fix: resolve all underlying codebase issues for production readiness
  web/app/(app)/e2e/push-notifications/page.tsx
  web/app/api/auth/login/route.ts
  web/features/civics/components/CivicsLure.tsx
  web/hooks/useI18n.ts
Labels: area:web

fix: complete production-ready error handling and service worker improvements
  web/features/pwa/lib/service-worker-registration.ts
  web/lib/stores/pwaStore.ts
Labels: area:web

fix: add production error message sanitization
  web/lib/api/response-utils.ts
Labels: area:web

fix: resolve GitHub Actions linter warnings for secret access
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Labels: none

fix: resolve GitLeaks false positive from documentation
  .github/workflows/gitleaks.yml
  .gitleaks.toml
Labels: area:security

fix: resolve civics-lure E2E test timeout and prevent unnecessary network requests
  web/app/(app)/e2e/civics-lure/page.tsx
  web/features/civics/components/CivicsLure.tsx
  web/features/civics/utils/civicsCountdownUtils.ts
  web/tests/e2e/specs/civics-lure.spec.ts
Labels: area:web

fix: correct elections store structure in civics-lure harness
  web/app/(app)/e2e/civics-lure/page.tsx
Labels: area:web

fix: resolve E2E test failures for feature-flags, feeds-store, and onboarding-auth
  web/tests/e2e/specs/feature-flags.spec.ts
  web/tests/e2e/specs/feeds-store.spec.ts
  web/tests/e2e/specs/onboarding-auth.spec.ts
Labels: area:web

fix: resolve accessibility and feeds store test failures
  web/features/civics/components/CivicsLure.tsx
  web/tests/e2e/specs/civics-lure.spec.ts
  web/tests/e2e/specs/feeds-store.spec.ts
Labels: area:web

fix: resolve import order linting errors in civics-lure harness
  web/app/(app)/e2e/civics-lure/page.tsx
Labels: area:web

fix: resolve all remaining E2E test failures
  web/app/(app)/e2e/push-notifications/page.tsx
  web/app/api/feature-flags/route.ts
  web/tests/e2e/specs/feeds-store.spec.ts
  web/tests/e2e/specs/onboarding-auth.spec.ts
  web/tests/e2e/specs/production/production-expanded.spec.ts
  web/tests/e2e/specs/production/production-smoke.spec.ts
  web/tests/e2e/specs/push-notifications.spec.ts
  web/tests/e2e/specs/user-store.spec.ts
Labels: area:web
