Repository choices-project/choices, changes with the labels that .github/labeler.yml gives for each.
All labels: area:web, area:auth, area:security

.github/labeler.yml:

area:web:
  - "web/**"
area:auth:
  - "web/app/(api|auth)/**"
area:security:
  - ".github/workflows/*security*"
  - ".github/workflows/*codeql*"
  - ".github/workflows/*gitleaks*"

fix(ci): resolve root causes of CI failures
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/security-watch.yml
  .github/workflows/types.yml
  Dockerfile.web
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
Labels: area:security

fix(ci): resolve production testing failures and enhance UX/UI coverage
  .github/workflows/production-tests.yml
  .github/workflows/test.yml
Labels: none

fix(ci): correct boolean default value in production-tests workflow
  .github/workflows/production-tests.yml
Labels: none

fix(tests): improve production test accuracy to reveal real code issues
  .github/workflows/test.yml
  web/tests/e2e/specs/auth/auth-production.spec.ts
  web/tests/e2e/specs/production/production-ux-improvements.spec.ts
Labels: area:web

feat(tests): add comprehensive production UX excellence test suite
  .github/workflows/production-tests.yml
  web/tests/e2e/specs/production/production-ux-excellence.spec.ts
Labels: area:web

feat(tests): expand production UX excellence tests with challenging scenarios
  web/tests/e2e/specs/production/production-ux-excellence.spec.ts
Labels: area:web

docs: add comprehensive production testing guide
  docs/PRODUCTION_TESTING_GUIDE.md
Labels: none

fix(tests): resolve all type and lint errors and expand production UX tests
  web/tests/e2e/specs/production/production-ux-excellence.spec.ts
Labels: area:web

fix(ci): resolve workflow boolean type error and expand production tests
  .github/workflows/production-tests.yml
  web/tests/e2e/specs/production/production-ux-excellence.spec.ts
Labels: area:web

fix(tests): resolve all 8 production test failures
  web/tests/e2e/specs/production/production-ux-excellence.spec.ts
  web/tests/e2e/specs/production/production-ux-improvements.spec.ts
Labels: area:web

fix(tests): resolve remaining 6 production test failures
  web/tests/e2e/specs/production/production-ux-excellence.spec.ts
  web/tests/e2e/specs/production/production-ux-improvements.spec.ts
Labels: area:web

fix(auth): add redirect to landing page after logout
  tsconfig.ci.tsbuildinfo
  web/components/GlobalNavigation.tsx
  web/components/shared/GlobalNavigation.tsx
  web/contexts/AuthContext.tsx
  web/tests/e2e/specs/production/production-ux-excellence.spec.ts
Labels: area:web

fix(ux): improve accessibility and error handling for feed and forms
  tsconfig.ci.tsbuildinfo
  web/app/(app)/feed/page.tsx
  web/app/auth/page.tsx
  web/features/feeds/components/core/FeedCore.tsx
Labels: area:web

fix(resilience): ensure analytics failures don't break feed functionality
  tsconfig.ci.tsbuildinfo
  web/features/feeds/hooks/useFeedAnalytics.ts
Labels: area:web

fix(ux): improve rate limit error handling and user feedback
  tsconfig.ci.tsbuildinfo
  web/app/auth/page.tsx
  web/features/auth/lib/api.ts
Labels: area:web

fix(lint): resolve import ordering issues in GlobalNavigation
  web/components/shared/GlobalNavigation.tsx
Labels: area:web

fix(lint): resolve import ordering in components/GlobalNavigation.tsx
  web/components/GlobalNavigation.tsx
Labels: area:web

docs: add comprehensive codebase audit report
  CODEBASE_AUDIT_REPORT.md
Labels: none

refactor: remove redundant dead code components
  tsconfig.ci.tsbuildinfo
  web/components/FeatureWrapper.tsx
  web/components/FontProvider.tsx
  web/components/GlobalNavigation.tsx
  web/components/polls/CommunityPollSelection.tsx
  web/components/shared/SiteMessages.tsx
Labels: area:web

fix: remove broken SiteMessages export from shared index
  CODEBASE_AUDIT_REPORT.md
  tsconfig.ci.tsbuildinfo
  web/components/shared/index.ts
Labels: area:web

refactor: remove additional redundant components
  CODEBASE_AUDIT_REPORT.md
  tsconfig.ci.tsbuildinfo
  web/components/DeviceList.tsx
  web/components/navigation/BurgerMenu.tsx
Labels: area:web

fix: improve form validation waiting in login test helper
  web/tests/e2e/helpers/e2e-setup.ts
Labels: area:web

fix: improve React controlled input handling in login helper
  web/tests/e2e/helpers/e2e-setup.ts
Labels: area:web

fix: directly call React onChange handlers for form inputs
  web/tests/e2e/helpers/e2e-setup.ts
Labels: area:web

fix: use type() method and ensure sign-in mode for auth tests
  web/tests/e2e/helpers/e2e-setup.ts
Labels: area:web

fix: improve React state update detection in auth form tests
  web/tests/e2e/helpers/e2e-setup.ts
Labels: area:web

fix: remove unused expect import from e2e-setup
  web/tests/e2e/helpers/e2e-setup.ts
Labels: area:web

fix: correct import type syntax and waitForFunction arguments
  web/tests/e2e/helpers/e2e-setup.ts
Labels: area:web

fix: use keyboard.type() to properly trigger React onChange
  web/tests/e2e/helpers/e2e-setup.ts
Labels: area:web

fix: use pressSequentially and wait for form hydration
  web/tests/e2e/helpers/e2e-setup.ts
Labels: area:web

fix: add workaround to force enable button if inputs are valid
  web/tests/e2e/helpers/e2e-setup.ts
Labels: area:web

fix: correct page.evaluate argument format
  web/tests/e2e/helpers/e2e-setup.ts
Labels: area:web

fix: correct page.evaluate function signature
  web/tests/e2e/helpers/e2e-setup.ts
Labels: area:web

fix: use pressSequentially in loading state test to enable button
  web/tests/e2e/helpers/e2e-setup.ts
  web/tests/e2e/specs/production/production-ux-improvements.spec.ts
Labels: area:web

fix: update validation tests to use pressSequentially for React inputs
  web/tests/e2e/specs/production/production-ux-excellence.spec.ts
  web/tests/e2e/specs/production/production-ux-improvements.spec.ts
Labels: area:web

fix: update remaining validation tests to use pressSequentially
  web/tests/e2e/specs/production/production-ux-excellence.spec.ts
Labels: area:web

fix: complete update of all form input tests to use pressSequentially
  web/tests/e2e/specs/production/production-ux-excellence.spec.ts
Labels: area:web

docs: update E2E testing documentation for React controlled inputs
  docs/TESTING.md
  web/tests/e2e/README.md
Labels: area:web

docs: add React controlled input troubleshooting to production guide
  docs/PRODUCTION_TESTING_GUIDE.md
  web/tests/e2e/helpers/e2e-setup.ts
Labels: area:web

fix: improve React state synchronization in loginTestUser
  web/tests/e2e/helpers/e2e-setup.ts
  web/tests/e2e/specs/production/production-ux-excellence.spec.ts
Labels: area:web
