Repository choices-project/choices, changes with the labels that .github/labeler.yml gives for each.
All labels: area:web, area:ingest, area:civics, area:auth

.github/labeler.yml:

area:web:
  - "apps/web/**"
area:ingest:
  - "apps/ingest/**"
area:civics:
  - "packages/civics-*/**"
area:auth:
  - "apps/web/app/(api|auth)/**"

feat: achieve stable deploy state with clean dependencies
  package-lock.json
  package.json
  web/app/advanced-privacy/page.tsx
  web/app/comprehensive-testing/page.tsx
  web/app/cross-platform-testing/page.tsx
  web/app/mvp-testing/page.tsx
  web/app/profile/page.tsx
  web/app/pwa-app/page.tsx
  web/app/pwa-features/page.tsx
  web/app/pwa-showcase/page.tsx
  web/app/pwa-testing/page.tsx
  web/archive/features/pwa-analytics/README.md
  web/archive/features/pwa-analytics/pwa-analytics.ts
  web/components/AnalyticsDashboard.tsx
  web/components/DemographicVisualization.tsx
  web/components/GlobalNavigation.tsx
  web/hooks/usePWAUtils.ts
  web/hooks/useTestingUtils.ts
  web/next.config.js
Labels: none

feat: Implement comprehensive privacy-first architecture
  docs/ADDITIONAL_SECURITY_RECOMMENDATIONS.md
  docs/PRIVACY_FIRST_ARCHITECTURE.md
  docs/PRIVACY_TESTING_SUMMARY.md
  docs/SECURITY_IMPLEMENTATION_CHECKLIST.md
  docs/SUPABASE_ISSUES_ANALYSIS_AND_RECOMMENDATIONS.md
  web/jest.config.js
  web/scripts/install-test-dependencies.js
  web/scripts/run-privacy-tests.js
  web/utils/privacy/consent.ts
  web/utils/privacy/data-management.ts
  web/utils/privacy/encryption.ts
Labels: none

fix: Improve GitHub workflow configurations
  .github/workflows/date-mandate.yml
  .github/workflows/security-watch.yml
Labels: none

Update web/lib/mock-data.ts
  web/lib/mock-data.ts
Labels: none

Update web/hooks/useTestingUtils.ts
  web/hooks/useTestingUtils.ts
Labels: none

Update web/hooks/usePWAUtils.ts
  web/hooks/usePWAUtils.ts
Labels: none

fix: Correct Jest configuration property name
  web/jest.config.js
Labels: none

fix: Address security issue with admin function usage
  scripts/cleanup-orphaned-auth-users.js
  web/app/api/auth/register/route.ts
Labels: none

docs: update Last Updated dates for documentation files
  docs/PRIVACY_TESTING_SUMMARY.md
  docs/SECURITY_IMPLEMENTATION_CHECKLIST.md
  docs/SUPABASE_ISSUES_ANALYSIS_AND_RECOMMENDATIONS.md
  docs/summaries/DOCUMENTATION_CONSOLIDATION_SUMMARY.md
  docs/summaries/E2E_TESTING_SETUP_SUMMARY.md
  web/tests/e2e/README.md
Labels: none

chore: remove unused GitHub configuration files
  .github/PULL_REQUEST_TEMPLATE.md
  .github/agent-policy.json
  .github/hot-files.txt
  .github/release-drafter.yml
Labels: none

fix: update date-mandate workflow to skip deleted files
  .github/workflows/date-mandate.yml
Labels: none

fix: disable dependency review action for private repository
  .github/workflows/security-watch.yml
Labels: none

feat: add reliable CI tests for auth security and basic functionality
  .github/workflows/ci.yml
  web/jest.config.js
  web/tests/ci/auth-security.test.ts
  web/tests/ci/basic-functionality.test.ts
Labels: none

ci: remove test step from CI workflow
  .github/workflows/ci.yml
  web/hooks/useTestingUtils.ts
  web/jest.config.js
  web/tests/e2e/README.md
  web/tests/e2e/auth-flow.test.ts
  web/tests/e2e/current-system-e2e.test.ts
  web/tests/e2e/privacy-features.test.ts
  web/tests/e2e/supabase-safe.test.ts
  web/tests/e2e/user-journey.test.ts
  web/tests/integration/privacy-workflows.test.ts
  web/tests/privacy/consent.test.ts
  web/tests/privacy/data-management.test.ts
  web/tests/privacy/encryption.test.ts
  web/tests/security/database-security.test.ts
Labels: none

fix: update documentation dates and fix CI monorepo build
  .github/workflows/ci.yml
  README.md
  docs/ADDITIONAL_SECURITY_RECOMMENDATIONS.md
  docs/AUTHENTICATION_SYSTEM.md
  docs/CHANGELOG.md
  docs/DATABASE_SECURITY_CLEANUP_GUIDE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DOCUMENTATION_INDEX.md
  docs/PRIVACY_FIRST_ARCHITECTURE.md
  docs/PROJECT_STATUS.md
  docs/SETUP.md
Labels: none

fix: complete dependency cleanup and documentation date fixes
  docs/SYSTEM_ARCHITECTURE_OVERVIEW.md
  docs/development/DEVELOPER_CHEAT_SHEET.md
  docs/development/ONBOARDING.md
  docs/governance/CODE_OF_CONDUCT.md
  docs/governance/CONTRIBUTING.md
  package-lock.json
  package.json
  packages/civics-client/src/index.ts
Labels: area:civics

fix: remove unnecessary package build step from CI
  .github/workflows/ci.yml
Labels: none

fix: add proper monorepo package build step to CI
  .github/workflows/ci.yml
  docs/security/SECURE_EXAMPLE_PATTERNS.md
Labels: none

fix: resolve TypeScript and Jest configuration issues
  packages/civics-client/src/index.ts
  web/jest.config.js
  web/tests/ci/auth-security.test.ts
  web/tests/ci/basic-functionality.test.ts
Labels: area:civics

fix: add missing Last Updated headers and fix TypeScript config
  apps/ingest/tsconfig.json
  docs/governance/GOVERNANCE.md
  docs/governance/NEUTRALITY_POLICY.md
  docs/governance/TRANSPARENCY.md
  docs/removed-features/custom-jwt-system.md
  docs/security/SECURITY.md
  docs/security/SECURITY_REVIEW_FEEDBACK.md
  docs/summaries/DATABASE_CLEANUP_AND_SETUP_SUMMARY.md
  docs/summaries/DOCUMENTATION_CLEANUP_SUMMARY.md
  docs/summaries/PROJECT_CLEANUP_COMPLETE.md
  docs/summaries/SUPABASE_AUTH_DEPLOYMENT_READY_SUMMARY.md
  docs/technical/ZERO_KNOWLEDGE_PROOFS_SYSTEM.md
Labels: area:ingest

fix: standardize Last Updated date format in documentation
  README.md
  docs/CHANGELOG.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DOCUMENTATION_INDEX.md
  docs/PROJECT_STATUS.md
  docs/security/SECURITY_REVIEW_FEEDBACK.md
Labels: none

fix: remove rootDir constraint from apps/ingest tsconfig
  apps/ingest/tsconfig.json
Labels: area:ingest

refactor: consolidate apps/ingest structure under src/
  apps/ingest/src/connectors/civicinfo.d.ts
  apps/ingest/src/connectors/civicinfo.js
  apps/ingest/src/connectors/civicinfo.ts
  apps/ingest/src/connectors/propublica.d.ts
  apps/ingest/src/connectors/propublica.js
  apps/ingest/src/connectors/propublica.ts
  apps/ingest/src/index.ts
  apps/ingest/tsconfig.json
Labels: area:ingest

fix: add missing AddressLookupResult type export
  apps/ingest/src/connectors/civicinfo.ts
Labels: area:ingest

fix: align AddressLookupResult interface with civics-sources usage
  apps/ingest/src/connectors/civicinfo.ts
Labels: area:ingest

fix: resolve TypeScript errors in candidates API route
  web/app/api/candidates/[personId]/route.ts
Labels: none

feat: implement Zod schema validation for CandidateCardV1
  packages/civics-schemas/package.json
  packages/civics-schemas/src/index.ts
  web/app/api/candidates/[personId]/route.ts
Labels: area:civics

fix: update package-lock.json to include Zod dependency
  package-lock.json
Labels: none

fix: update Vercel configuration for monorepo structure
  vercel.json
Labels: none

fix: build monorepo packages before web app in Vercel
  vercel.json
Labels: none

fix: remove vercel.json to use dashboard settings
  vercel.json.backup
Labels: none

fix: add monorepo dependencies to web/package.json
  web/package.json
Labels: none

revert: remove dependencies from web/package.json
  web/package.json
Labels: none

fix: correct cache interface usage in candidates API route
  web/app/api/candidates/[personId]/route.ts
Labels: none

fix: add proper monorepo build order to resolve civics module dependencies
  package.json
Labels: none

fix: move Supabase server client call inside component to prevent build-time execution
  web/app/dashboard/page.tsx
Labels: none

fix: remove standalone output config for Vercel compatibility
  web/next.config.js
Labels: none

fix: resolve Vercel deployment issues
  web/lib/auth-middleware.ts
  web/vercel.json
Labels: none

fix: resolve final Supabase build-time error and Node.js version issue
  package.json
  web/app/api/analytics/route.ts
  web/lib/database-optimizer.ts
Labels: none

fix: update database-health route to use lazy-loaded queryOptimizer
  web/app/api/database-health/route.ts
Labels: none
