Repository choices-project/choices, changes with the labels that .github/labeler.yml gives for each.
All labels: area:web, area:auth, area:security

fix: Copy civics-shared before Vercel deployment
  .github/workflows/deploy.yml
Labels: none

fix: Regenerate package-lock.json when package.json changes
  web/scripts/vercel-install.sh
Labels: area:web

fix: Regenerate package-lock.json in GitHub Actions step
  .github/workflows/deploy.yml
Labels: none

fix: Make GitLeaks license check non-blocking and improve auth E2E timeouts
  .github/workflows/gitleaks.yml
  web/tests/e2e/specs/auth-production.spec.ts
Labels: area:web, area:security

fix: Add missing package-lock.json regeneration in staging deployment
  .github/workflows/deploy.yml
Labels: none

fix: Improve npm ci fallback logic in Vercel install script
  web/scripts/vercel-install.sh
Labels: area:web

fix: Add debugging to Vercel install script and make auth E2E more resilient
  .github/workflows/deploy.yml
  web/scripts/vercel-install.sh
  web/tests/e2e/specs/auth-production.spec.ts
Labels: area:web

fix: Add framework to root vercel.json to help Vercel detect Next.js
  vercel.json
Labels: none

fix: Add --cwd web to Vercel deployment args to ensure rootDirectory is respected
  .github/workflows/deploy.yml
Labels: none

fix: Remove --cwd web flag - it conflicts with rootDirectory setting
  .github/workflows/deploy.yml
Labels: none

fix: Increase timeout for locale cookie wait in locale-switch test
  web/tests/e2e/specs/locale-switch.spec.ts
Labels: area:web

fix: Improve Vercel install script debug output
  web/scripts/vercel-install.sh
Labels: area:web

fix: Move Vercel install logic to buildCommand to fix Next.js detection
  web/scripts/vercel-build.sh
  web/vercel.json
Labels: area:web

fix: Add site-messages API mock to prevent Supabase errors in locale-switch test
  web/tests/e2e/helpers/e2e-setup.ts
  web/tests/e2e/specs/locale-switch.spec.ts
Labels: area:web

fix: Add workaround for Vercel route group client reference manifest error
  web/scripts/vercel-build.sh
Labels: area:web

fix: Improve client reference manifest workaround structure
  web/scripts/vercel-build.sh
Labels: area:web

fix: Improve error handling for missing civics-shared in Vercel builds
  web/scripts/vercel-build.sh
Labels: area:web

fix: Include services-civics-shared in web directory for Vercel builds
  web/package.json
  web/services-civics-shared/README.md
  web/services-civics-shared/index.d.ts
  web/services-civics-shared/index.js
  web/services-civics-shared/package.json
  web/services-civics-shared/tests/shared.test.mjs
Labels: area:web

fix: Convert root page to server component to fix 500 error
  web/app/page.tsx
Labels: area:web

fix: Remove unused imports from root page
  web/app/page.tsx
Labels: area:web

fix: Handle root redirect in middleware to avoid 500 errors
  web/app/page.tsx
  web/middleware.ts
Labels: area:web

fix: Prevent hydration mismatch in feed page
  web/app/(app)/feed/page.tsx
Labels: area:web

feat: Add comprehensive production testing suite
  .github/workflows/production-tests.yml
  web/tests/e2e/specs/auth-production.spec.ts
  web/tests/e2e/specs/production-critical-journeys.spec.ts
  web/tests/e2e/specs/production-smoke.spec.ts
Labels: area:web

docs: Add production testing documentation
  docs/PRODUCTION_TESTING.md
Labels: none

fix: Fix production test failures and expand test coverage
  .github/workflows/production-tests.yml
  web/tests/e2e/specs/production-expanded.spec.ts
  web/tests/e2e/specs/production-smoke.spec.ts
Labels: area:web

fix: Adjust expanded test expectations for production reality
  web/tests/e2e/specs/production-expanded.spec.ts
Labels: area:web

fix: Adjust very long URL test to be more realistic
  web/tests/e2e/specs/production-expanded.spec.ts
Labels: area:web

fix: Make heading hierarchy test more flexible
  web/tests/e2e/specs/production-expanded.spec.ts
Labels: area:web

fix: Fix actual codebase issues found by production tests
  web/app/api/v1/civics/by-state/route.ts
  web/app/api/v1/civics/representative/[id]/route.ts
  web/middleware.ts
Labels: area:web

feat: Improve feed error handling and reliability
  web/app/(app)/feed/page.tsx
  web/features/feeds/components/providers/FeedDataProvider.tsx
Labels: area:web

docs: Add summary of all production fixes
  docs/PRODUCTION_FIXES_SUMMARY.md
Labels: none

fix: Remove duplicate try block in representative route
  web/app/api/v1/civics/representative/[id]/route.ts
Labels: area:web

fix: Remove duplicate logger.error call
  web/app/api/v1/civics/representative/[id]/route.ts
Labels: area:web

fix: Resolve TypeScript errors in civics API routes
  web/app/api/v1/civics/by-state/route.ts
  web/app/api/v1/civics/representative/[id]/route.ts
Labels: area:web

feat: Implement authentication-first redirect and overhaul testing
  .github/workflows/production-tests.yml
  .github/workflows/test.yml
  tsconfig.ci.tsbuildinfo
  web/middleware.ts
  web/tests/e2e/README.md
  web/tests/e2e/helpers/auth-helpers.ts
  web/tests/e2e/specs/auth/auth-access.spec.ts
  web/tests/e2e/specs/auth/auth-flow.spec.ts
  web/tests/e2e/specs/auth/auth-production.spec.ts
  web/tests/e2e/specs/dashboard/dashboard-auth.spec.ts
  web/tests/e2e/specs/dashboard/dashboard-feeds.spec.ts
  web/tests/e2e/specs/dashboard/dashboard-journey.spec.ts
  web/tests/e2e/specs/production/production-critical-journeys.spec.ts
  web/tests/e2e/specs/production/production-expanded.spec.ts
  web/tests/e2e/specs/production/production-smoke.spec.ts
  web/utils/supabase/middleware.ts
Labels: area:web

fix: Remove duplicate production test files
  web/tests/e2e/specs/production-critical-journeys.spec.ts
  web/tests/e2e/specs/production-expanded.spec.ts
  web/tests/e2e/specs/production-smoke.spec.ts
Labels: area:web

refactor: update production tests to use auth helpers consistently
  web/tests/e2e/specs/production/production-critical-journeys.spec.ts
  web/tests/e2e/specs/production/production-expanded.spec.ts
  web/tests/e2e/specs/production/production-smoke.spec.ts
Labels: area:web

fix: make middleware Edge Runtime compatible for Vercel deployment
  web/middleware.ts
  web/utils/supabase/middleware.ts
Labels: area:web

fix: add route protection for /feed and other protected routes in middleware
  web/middleware.ts
Labels: area:web

fix: clean up auth page layout and improve UX
  web/app/auth/page.tsx
  web/features/auth/components/PasskeyControls.tsx
Labels: area:web

.github/labeler.yml:

area:web:
  - "web/**"
area:auth:
  - "web/app/(api|auth)/**"
area:security:
  - ".github/workflows/*security*"
  - ".github/workflows/*codeql*"
  - ".github/workflows/*gitleaks*"
